openapi: 3.0.3
info:
  title: C2M API v2
  version: 2.0.0
  description: API for submitting mailing jobs with various document routing options
  x-http-error-map:
    '400':
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    '401':
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    '403':
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    '404':
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    '422':
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    '500':
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
servers:
- url: https://api.click2mail.com/v2
  description: Production server
tags:
- name: jobs
  description: Job submission endpoints
components:
  schemas:
    month:
      type: integer
      minimum: 1
      maximum: 12
    submitSingleDocParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceAll
      - recipientAddressSource
    submitSinglePdfAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
    submitSinglePdfSplitParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsWithAddress:
          $ref: '#/components/schemas/pdfSplitJobsWithAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
    submitSinglePdfSplitAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsNoAddress:
          $ref: '#/components/schemas/pdfSplitJobsNoAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
    submitMultiDocMergeParams:
      type: object
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          $ref: '#/components/schemas/mergeDocumentSource'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - mergeDocumentSource
      - recipientAddressSource
    submitMultiZipParams:
      type: object
      properties:
        docSourceZipFileRef:
          $ref: '#/components/schemas/docSourceZipFileRef'
        multiZipJobs:
          $ref: '#/components/schemas/multiZipJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceZipFileRef
      - multiZipJobs
    submitMultiZipAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: '#/components/schemas/zipDocumentSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - zipDocumentSource
    jobTemplate:
      type: string
    returnAddress:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    jobOptions:
      type: object
      properties:
        documentClass:
          type: string
        layout:
          type: string
        productionTime:
          type: string
        envelope:
          type: string
        color:
          type: string
        paperType:
          type: string
        printOption:
          type: string
        mailClass:
          type: string
      required:
      - documentClass
      - layout
      - productionTime
      - envelope
      - color
      - paperType
      - printOption
      - mailClass
    documentClass:
      type: string
    layout:
      type: string
    productionTime:
      type: string
    envelope:
      type: string
    color:
      type: string
    paperType:
      type: string
    printOption:
      type: string
    mailClass:
      type: string
    tags:
      $ref: '#/components/schemas/tagsList'
    tagsList:
      type: array
      items:
        type: string
    firstName:
      type: string
    lastName:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    recipientAddressSource:
      oneOf:
      - $ref: '#/components/schemas/recipientAddressBySingle'
      - $ref: '#/components/schemas/recipientAddressByList'
      - $ref: '#/components/schemas/recipientAddressByAddressId'
      - $ref: '#/components/schemas/recipientAddressByListId'
    recipientAddressBySingle:
      type: object
      properties:
        mappingId:
          type: integer
        singleAddress:
          $ref: '#/components/schemas/singleAddress'
        addressName:
          type: string
      required:
      - singleAddress
    recipientAddressByList:
      type: object
      properties:
        mappingId:
          type: integer
        addressList:
          $ref: '#/components/schemas/addressList'
        addressListName:
          type: string
      required:
      - addressList
    recipientAddressByListId:
      $ref: '#/components/schemas/addressListId'
    recipientAddressByAddressId:
      $ref: '#/components/schemas/addressId'
    mappingId:
      $ref: '#/components/schemas/id'
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: '#/components/schemas/id'
    addressId:
      $ref: '#/components/schemas/id'
    singleAddress:
      $ref: '#/components/schemas/address'
    addressList:
      type: array
      items:
        $ref: '#/components/schemas/address'
    documentIdSource:
      $ref: '#/components/schemas/documentId'
    documentId:
      $ref: '#/components/schemas/id'
    requestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    requestId:
      $ref: '#/components/schemas/id'
    filename:
      type: string
    urlSource:
      $ref: '#/components/schemas/url'
    url:
      type: string
    zipDocumentIdSource:
      type: object
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - zipDocumentId
      - filename
    zipDocumentId:
      $ref: '#/components/schemas/id'
    zipRequestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - requestId
      - zipFilename
      - filename
    zipFilename:
      type: string
    zipDocumentIdOnly:
      $ref: '#/components/schemas/zipDocumentId'
    zipRequestIdOnly:
      $ref: '#/components/schemas/requestId'
    zipDocumentSource:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceStandard:
      oneOf:
      - $ref: '#/components/schemas/documentIdSource'
      - $ref: '#/components/schemas/requestIdSource'
      - $ref: '#/components/schemas/urlSource'
    docSourceZipFile:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceZipFileRef:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdOnly'
      - $ref: '#/components/schemas/zipRequestIdOnly'
    docSourceAll:
      oneOf:
      - $ref: '#/components/schemas/docSourceStandard'
      - $ref: '#/components/schemas/docSourceZipFile'
    mergeDocumentSource:
      $ref: '#/components/schemas/documentsToMerge'
    documentsToMerge:
      type: array
      items:
        $ref: '#/components/schemas/mergeDocumentRef'
    mergeDocumentRef:
      oneOf:
      - $ref: '#/components/schemas/mergeByDocumentId'
      - $ref: '#/components/schemas/mergeByRequestId'
    mergeByDocumentId:
      $ref: '#/components/schemas/documentId'
    mergeByRequestId:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    multiDocJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiDocJobItem'
    multiDocJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - docSourceAll
      - recipientAddressSource
    pdfSplitJobsWithAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemWithAddress'
    pdfSplitJobsNoAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemNoAddress'
    pdfSplitJobItemWithAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - startPage
      - endPage
      - recipientAddressSource
    pdfSplitJobItemNoAddress:
      type: object
      properties:
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - startPage
      - endPage
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiZipJobItem'
    multiZipJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - filename
      - recipientAddressSource
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: '#/components/schemas/creditCardPayment'
      - $ref: '#/components/schemas/invoicePayment'
      - $ref: '#/components/schemas/achPayment'
      - $ref: '#/components/schemas/userCreditPayment'
    creditCardPayment:
      type: object
      properties:
        creditCardDetails:
          $ref: '#/components/schemas/creditCardDetails'
      required:
      - creditCardDetails
    invoicePayment:
      type: object
      properties:
        invoiceDetails:
          $ref: '#/components/schemas/invoiceDetails'
      required:
      - invoiceDetails
    achPayment:
      type: object
      properties:
        achDetails:
          $ref: '#/components/schemas/achDetails'
      required:
      - achDetails
    userCreditPayment:
      type: object
      properties:
        creditAmount:
          $ref: '#/components/schemas/creditAmount'
      required:
      - creditAmount
    creditCardDetails:
      type: object
      properties:
        cardType:
          type: string
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
        cardNumber:
          type: string
        expirationDate:
          $ref: '#/components/schemas/expirationDate'
        cvv:
          type: integer
      required:
      - cardType
      - cardNumber
      - expirationDate
      - cvv
    invoiceDetails:
      type: object
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - invoiceNumber
      - amountDue
    achDetails:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - routingNumber
      - accountNumber
      - checkDigit
    creditAmount:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
      required:
      - amount
      - currency
    currency:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      type: object
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
    year:
      type: integer
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      type: string
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
    standardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - status
      - message
      - requestId
    status:
      type: string
    message:
      type: string
    errorResponse:
      type: object
      properties:
        errorType:
          type: string
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - ServerError
        errorMessage:
          type: string
        errorCode:
          type: string
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorType
      - errorMessage
      - errorCode
    errorType:
      type: string
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - ServerError
    errorMessage:
      type: string
    errorCode:
      type: string
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: '#/components/schemas/errorResponse'
    HTTP_401_UNAUTHORIZED:
      $ref: '#/components/schemas/errorResponse'
    HTTP_403_FORBIDDEN:
      $ref: '#/components/schemas/errorResponse'
    HTTP_404_NOT_FOUND:
      $ref: '#/components/schemas/errorResponse'
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: '#/components/schemas/errorResponse'
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: '#/components/schemas/errorResponse'
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- bearerAuth: []
paths:
  /static:
    post:
      tags:
      - jobs
      summary: Submit single document
      description: Submits a mailing job for a single document to one or more recipients. The request body must include a document source, recipient address information, and payment details.
      operationId: submitSingleDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSingleDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceAll", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-3L3FEW
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceAll", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-662QW7
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-BSYUIO
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-AKMBZN
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-TVBUZQ
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-X9XEJ0
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-GKPIS7
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-7X6THB
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-VSIKKB
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-8MVS3K
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceAll", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-D7QZPW
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-YGLD5N
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceAll", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-BRLXYU
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-0CM8BE
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-JZQG8B
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-J6BK4T
  /static/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit single document \u2014 address capture"
      description: Submits a mailing job for a single PDF where recipient addresses are captured from the document via OCR. No inline recipient address is required.
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-HZOTBE
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-TTEXPO
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-U2XBWB
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-RDFC3N
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-OJK3YB
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-B0NB8P
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-HUQ7U0
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-RRNPYU
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-0JN24H
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-A046L7
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-I32XQX
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-705S5P
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-QZPUOM
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-4TDP8I
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-DIC0S0
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-MOAS25
  /batch/split:
    post:
      tags:
      - jobs
      summary: Submit PDF split
      description: Splits a single PDF into page ranges and mails each range to a different recipient. Each job item specifies page range and recipient address.
      operationId: submitSinglePdfSplitParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-UI5JTO
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-J361Q5
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-TKZWVA
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-UZAEAW
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-ZFTAOS
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-CJ28OK
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-0QFVU7
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-TE0KOA
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-B7MDZN
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-07LNAK
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-C5CI1D
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-T8OS5O
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsWithAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-83Y480
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-H9ATCD
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-PV9SQY
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-F8FGJ5
  /batch/split/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit PDF split \u2014 address capture"
      description: Splits a single PDF into page ranges where recipient addresses are captured from the PDF. No inline recipient addresses are required.
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-6MBFKX
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-1U0813
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-Q8IVVU
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-LBBINW
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-UGPU5W
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-VLJXBM
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-NE5K0P
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-QETRW7
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-BVVF6U
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-YR1UV5
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-LDW6HA
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-W1HT4M
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsNoAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-U3OY6Z
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-TMSHGL
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-7B9OSU
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-SI6MFX
  /mail-merge:
    post:
      tags:
      - jobs
      summary: Submit mail merge
      description: Merges multiple documents into a single mailing sent to one recipient. Useful for creating document packets or multi-page letters.
      operationId: submitMultiDocMergeParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocMergeParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "mergeDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-R8V9NN
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "mergeDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-QTTIQP
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-V43NJD
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-OL28JZ
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-ZHRQ43
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-2QCFIV
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-4ONZE5
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-VKGMEO
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-P4N140
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-G2TKLT
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "mergeDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-UP11QH
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-5OP451
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "mergeDocumentSource", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-PFH8VH
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-9RGWQL
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-SYFBIY
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-PFX5SF
  /batch/zip:
    post:
      tags:
      - jobs
      summary: Submit ZIP batch
      description: Submits multiple mailing jobs sourced from files inside a single ZIP archive. Each job item specifies which file within the ZIP and the recipient address.
      operationId: submitMultiZipParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceZipFileRef", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-0TLOWO
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceZipFileRef", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-15H5AG
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-RQOYBQ
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-31WYSX
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-92D8RB
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-Q7O05V
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-UB8CJ9
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-OILNMV
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-BI3L9T
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-LGFHBS
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceZipFileRef", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-SQ4DWK
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-O1YE06
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceZipFileRef", "issue": "not found in document library"}, {"field": "recipientAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-ZW1WKT
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-6VFYH2
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-CWM56E
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-Y6AA8G
  /batch/zip/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit ZIP batch \u2014 address capture"
      description: Submits a ZIP-based mailing batch where recipient addresses are captured externally. No inline recipient addresses are required.
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "zipDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260911-IAA2YN
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "zipDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260911-AP73PJ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260911-N8HD7V
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260911-WB5LBM
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260911-8RJBUY
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260911-2AIPZR
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260911-R8V1EE
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260911-HL6ZFO
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260911-ZEOAL4
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260911-N14P0M
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "zipDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260911-KWLVWV
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260911-54GA3L
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "zipDocumentSource", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260911-3NETOF
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260911-DU5HIU
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260911-RMKIQS
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260911-TK7857
