openapi: 3.0.3
info:
  title: C2M API v2
  version: 2.0.0
  description: API for submitting mailing jobs with various document routing options
  x-http-error-map:
    '400':
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    '401':
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    '403':
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    '404':
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    '422':
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    '500':
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
servers:
- url: https://api.click2mail.com/v2
  description: Production server
tags:
- name: jobs
  description: Job submission endpoints
components:
  schemas:
    month:
      type: integer
      minimum: 1
      maximum: 12
    submitSingleDocParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceAll
      - recipientAddressSource
    submitSinglePdfAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
    submitSinglePdfSplitParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsWithAddress:
          $ref: '#/components/schemas/pdfSplitJobsWithAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
    submitSinglePdfSplitAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsNoAddress:
          $ref: '#/components/schemas/pdfSplitJobsNoAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
    submitMultiDocParams:
      type: object
      properties:
        multiDocJobs:
          $ref: '#/components/schemas/multiDocJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - multiDocJobs
    submitMultiDocMergeParams:
      type: object
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          $ref: '#/components/schemas/mergeDocumentSource'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - mergeDocumentSource
      - recipientAddressSource
    submitMultiZipParams:
      type: object
      properties:
        docSourceZipFileRef:
          $ref: '#/components/schemas/docSourceZipFileRef'
        multiZipJobs:
          $ref: '#/components/schemas/multiZipJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceZipFileRef
      - multiZipJobs
    submitMultiZipAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: '#/components/schemas/zipDocumentSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - zipDocumentSource
    jobTemplate:
      type: string
    returnAddress:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    jobOptions:
      type: object
      properties:
        documentClass:
          type: string
        layout:
          type: string
        productionTime:
          type: string
        envelope:
          type: string
        color:
          type: string
        paperType:
          type: string
        printOption:
          type: string
        mailClass:
          type: string
      required:
      - documentClass
      - layout
      - productionTime
      - envelope
      - color
      - paperType
      - printOption
      - mailClass
    documentClass:
      type: string
    layout:
      type: string
    productionTime:
      type: string
    envelope:
      type: string
    color:
      type: string
    paperType:
      type: string
    printOption:
      type: string
    mailClass:
      type: string
    tags:
      $ref: '#/components/schemas/tagsList'
    tagsList:
      type: array
      items:
        type: string
    firstName:
      type: string
    lastName:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    recipientAddressSource:
      oneOf:
      - $ref: '#/components/schemas/recipientAddressBySingle'
      - $ref: '#/components/schemas/recipientAddressByList'
      - $ref: '#/components/schemas/recipientAddressByAddressId'
      - $ref: '#/components/schemas/recipientAddressByListId'
    recipientAddressBySingle:
      type: object
      properties:
        mappingId:
          type: integer
        singleAddress:
          $ref: '#/components/schemas/singleAddress'
        addressName:
          type: string
      required:
      - singleAddress
    recipientAddressByList:
      type: object
      properties:
        mappingId:
          type: integer
        addressList:
          $ref: '#/components/schemas/addressList'
        addressListName:
          type: string
      required:
      - addressList
    recipientAddressByListId:
      $ref: '#/components/schemas/addressListId'
    recipientAddressByAddressId:
      $ref: '#/components/schemas/addressId'
    mappingId:
      $ref: '#/components/schemas/id'
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: '#/components/schemas/id'
    addressId:
      $ref: '#/components/schemas/id'
    singleAddress:
      $ref: '#/components/schemas/address'
    addressList:
      type: array
      items:
        $ref: '#/components/schemas/address'
    documentIdSource:
      $ref: '#/components/schemas/documentId'
    documentId:
      $ref: '#/components/schemas/id'
    requestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    requestId:
      $ref: '#/components/schemas/id'
    filename:
      type: string
    urlSource:
      $ref: '#/components/schemas/url'
    url:
      type: string
    zipDocumentIdSource:
      type: object
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - zipDocumentId
      - filename
    zipDocumentId:
      $ref: '#/components/schemas/id'
    zipRequestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - requestId
      - zipFilename
      - filename
    zipFilename:
      type: string
    zipDocumentIdOnly:
      $ref: '#/components/schemas/zipDocumentId'
    zipRequestIdOnly:
      $ref: '#/components/schemas/requestId'
    zipDocumentSource:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceStandard:
      oneOf:
      - $ref: '#/components/schemas/documentIdSource'
      - $ref: '#/components/schemas/requestIdSource'
      - $ref: '#/components/schemas/urlSource'
    docSourceZipFile:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceZipFileRef:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdOnly'
      - $ref: '#/components/schemas/zipRequestIdOnly'
    docSourceAll:
      oneOf:
      - $ref: '#/components/schemas/docSourceStandard'
      - $ref: '#/components/schemas/docSourceZipFile'
    mergeDocumentSource:
      $ref: '#/components/schemas/documentsToMerge'
    documentsToMerge:
      type: array
      items:
        $ref: '#/components/schemas/mergeDocumentRef'
    mergeDocumentRef:
      oneOf:
      - $ref: '#/components/schemas/mergeByDocumentId'
      - $ref: '#/components/schemas/mergeByRequestId'
    mergeByDocumentId:
      $ref: '#/components/schemas/documentId'
    mergeByRequestId:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    multiDocJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiDocJobItem'
    multiDocJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - docSourceAll
      - recipientAddressSource
    pdfSplitJobsWithAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemWithAddress'
    pdfSplitJobsNoAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemNoAddress'
    pdfSplitJobItemWithAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - startPage
      - endPage
      - recipientAddressSource
    pdfSplitJobItemNoAddress:
      type: object
      properties:
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - startPage
      - endPage
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiZipJobItem'
    multiZipJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - filename
      - recipientAddressSource
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: '#/components/schemas/creditCardPayment'
      - $ref: '#/components/schemas/invoicePayment'
      - $ref: '#/components/schemas/achPayment'
      - $ref: '#/components/schemas/userCreditPayment'
    creditCardPayment:
      type: object
      properties:
        creditCardDetails:
          $ref: '#/components/schemas/creditCardDetails'
      required:
      - creditCardDetails
    invoicePayment:
      type: object
      properties:
        invoiceDetails:
          $ref: '#/components/schemas/invoiceDetails'
      required:
      - invoiceDetails
    achPayment:
      type: object
      properties:
        achDetails:
          $ref: '#/components/schemas/achDetails'
      required:
      - achDetails
    userCreditPayment:
      type: object
      properties:
        creditAmount:
          $ref: '#/components/schemas/creditAmount'
      required:
      - creditAmount
    creditCardDetails:
      type: object
      properties:
        cardType:
          type: string
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
        cardNumber:
          type: string
        expirationDate:
          $ref: '#/components/schemas/expirationDate'
        cvv:
          type: integer
      required:
      - cardType
      - cardNumber
      - expirationDate
      - cvv
    invoiceDetails:
      type: object
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - invoiceNumber
      - amountDue
    achDetails:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - routingNumber
      - accountNumber
      - checkDigit
    creditAmount:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
      required:
      - amount
      - currency
    currency:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      type: object
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
    year:
      type: integer
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      type: string
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
    standardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - status
      - message
      - requestId
    status:
      type: string
    message:
      type: string
    errorResponse:
      type: object
      properties:
        errorType:
          type: string
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - ServerError
        errorMessage:
          type: string
        errorCode:
          type: string
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorType
      - errorMessage
      - errorCode
    errorType:
      type: string
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - ServerError
    errorMessage:
      type: string
    errorCode:
      type: string
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: '#/components/schemas/errorResponse'
    HTTP_401_UNAUTHORIZED:
      $ref: '#/components/schemas/errorResponse'
    HTTP_403_FORBIDDEN:
      $ref: '#/components/schemas/errorResponse'
    HTTP_404_NOT_FOUND:
      $ref: '#/components/schemas/errorResponse'
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: '#/components/schemas/errorResponse'
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: '#/components/schemas/errorResponse'
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- bearerAuth: []
paths:
  /static:
    post:
      tags:
      - jobs
      summary: Submitsingledocparams
      description: API endpoint for submitSingleDocParams
      operationId: submitSingleDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSingleDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceAll", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-ABY8AC
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceAll", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-0VQLJM
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-6TZKXT
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-EQF63E
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-JX36V9
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-Q3FURP
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-K30YRG
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-FYZIJ5
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-BCGFIG
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-VKCIE6
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceAll", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-J2G00P
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-YOOZVM
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceAll", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-R4EJM0
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-DK5N11
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-LA59JY
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-K8H1UL
  /static/address-capture:
    post:
      tags:
      - jobs
      summary: Submitsinglepdfaddresscaptureparams
      description: API endpoint for submitSinglePdfAddressCaptureParams
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-QA9QWX
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-HOM8AO
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-LQ3ECP
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-I8F9L2
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-G2YTS3
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-P2UOB6
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-AROV37
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-XQEBCK
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-0FVTXE
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-HG9ULI
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-7807MD
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-AIVB7B
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-BKHMLP
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-DADB11
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-IEBLS7
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-QOL4OA
  /batch/split:
    post:
      tags:
      - jobs
      summary: Submitsinglepdfsplitparams
      description: API endpoint for submitSinglePdfSplitParams
      operationId: submitSinglePdfSplitParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-5SYTYL
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-MGTFQQ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-YLAQGG
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-DBZ03C
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-DKEP9R
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-NBTSJM
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-79GKFU
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-D611X4
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-K412TF
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-QRJQU3
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-IWVF34
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-JUUECL
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsWithAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-8T4WT9
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-EXF7B5
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-3TZTJ8
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-RCASOH
  /batch/split/address-capture:
    post:
      tags:
      - jobs
      summary: Submitsinglepdfsplitaddresscaptureparams
      description: API endpoint for submitSinglePdfSplitAddressCaptureParams
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-66V0T7
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-W4I73U
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-OKUSKI
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-7UYYDP
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-9W8FIW
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-W0FMX4
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-43U9JE
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-H7PN75
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-5EX75P
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-PLI4JM
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-YPG84D
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-RCFQUI
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsNoAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-5ZF09M
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-9O4BR0
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-6EGK7W
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-EHRCL9
  /static/multi:
    post:
      tags:
      - jobs
      summary: Submitmultidocparams
      description: API endpoint for submitMultiDocParams
      operationId: submitMultiDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "documentId", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-DVW8X3
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "documentId", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-A4AS1M
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-6VUTJF
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-CGVDN3
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-JIJO1U
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-YDWKPU
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-SJMVW2
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-H6AU9U
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-285KW3
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-MNLLUJ
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "documentId", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-GHNLO8
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-OQKC4U
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "documentId", "issue": "not found in document library"}, {"field": "recipientAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-4YPY91
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-8TKCUP
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-I49PDK
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-WHG7O9
  /mail-merge:
    post:
      tags:
      - jobs
      summary: Submitmultidocmergeparams
      description: API endpoint for submitMultiDocMergeParams
      operationId: submitMultiDocMergeParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocMergeParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "mergeDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-NQH4P0
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "mergeDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-CK1SM0
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-0ZKW12
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-EHYDJE
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-65MH1R
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-F7CEV2
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-UKWLT5
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-L00QTU
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-B563Q2
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-OPW1QN
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "mergeDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-YGGNBW
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-G4ZQMD
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "mergeDocumentSource", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-NE6HD3
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-OVY1RF
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-QKM71J
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-6O0PRS
  /batch/zip:
    post:
      tags:
      - jobs
      summary: Submitmultizipparams
      description: API endpoint for submitMultiZipParams
      operationId: submitMultiZipParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceZipFileRef", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-5OWQ8E
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceZipFileRef", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-T2MPVX
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-B3J9VJ
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-IEU71Q
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-532ET6
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-L7QFHE
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-TC1760
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-B6WI70
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-I75C5U
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-7DDFAO
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceZipFileRef", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-0YD6ZP
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-ZX6OQ0
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceZipFileRef", "issue": "not found in document library"}, {"field": "recipientAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-64VT1J
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-VHOJ0F
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-3TA4FY
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-8AIB56
  /batch/zip/address-capture:
    post:
      tags:
      - jobs
      summary: Submitmultizipaddresscaptureparams
      description: API endpoint for submitMultiZipAddressCaptureParams
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "zipDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260910-0XGZCB
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "zipDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260910-XQXOAZ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260910-H1FOHM
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260910-LQLJ75
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260910-J5G02Y
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260910-INF050
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260910-7X8YEZ
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260910-5KP200
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260910-I5MJXN
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260910-Z7SZUR
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "zipDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260910-HIDU9F
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260910-HTXUNX
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "zipDocumentSource", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260910-QVFMH8
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260910-6M6KLX
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260910-398WQ0
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260910-U56ZLL
