openapi: 3.0.3
info:
  title: C2M API v2
  version: 2.0.0
  description: API for submitting mailing jobs with various document routing options
  x-http-error-map:
    '400':
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    '401':
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    '403':
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    '404':
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    '422':
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    '429':
      errorType: RateLimitError
      errorCodes:
      - RATE_LIMIT_EXCEEDED
    '500':
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
  x-numeric-constraints:
    month:
      minimum: 1
      maximum: 12
    year:
      minimum: 2000
      maximum: 2099
    quantity:
      minimum: 1
  x-valid-combinations:
  - when_field: color
    when_value: black_and_white
    then_field: paperType
    then_values:
    - white
    - white_24
    - ivory
  - when_field: mailClass
    when_value: non_profit
    then_field: documentClass
    then_values:
    - letter
    - flat
  - when_field: envelope
    when_value: none
    then_field: layout
    then_values:
    - address_on_first_page
    - address_on_back_page
servers:
- url: https://api.click2mail.com/v2
  description: Production server
tags:
- name: jobs
  description: Job submission endpoints
- name: auth
  description: Authentication and token management endpoints
components:
  schemas:
    month:
      type: integer
      minimum: 1
      maximum: 12
    year:
      type: integer
      minimum: 2000
      maximum: 2099
    submitDocParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceAll
      - recipientAddressSource
    submitSinglePdfAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
    submitSinglePdfSplitParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsWithAddress:
          $ref: '#/components/schemas/pdfSplitJobsWithAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
    submitSinglePdfSplitAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsNoAddress:
          $ref: '#/components/schemas/pdfSplitJobsNoAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
    submitMultiDocMergeParams:
      type: object
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          $ref: '#/components/schemas/mergeDocumentSource'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - mergeDocumentSource
      - recipientAddressSource
    submitMultiZipParams:
      type: object
      properties:
        docSourceZipFileRef:
          $ref: '#/components/schemas/docSourceZipFileRef'
        multiZipJobs:
          $ref: '#/components/schemas/multiZipJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceZipFileRef
      - multiZipJobs
    submitMultiZipAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: '#/components/schemas/zipDocumentSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - zipDocumentSource
    jobTemplate:
      type: string
    returnAddress:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    jobOptions:
      type: object
      properties:
        documentClass:
          type: string
          enum:
          - letter
          - postcard
          - brochure
          - flat
        layout:
          type: string
          enum:
          - address_on_first_page
          - address_on_back_page
        productionTime:
          type: string
          enum:
          - next_day
          - two_day
          - three_day
          - standard
          - same_day
        envelope:
          type: string
          enum:
          - standard
          - none
          - flat
          - double_window
        color:
          type: string
          enum:
          - full_color
          - black_and_white
        paperType:
          type: string
          enum:
          - white
          - white_24
          - ivory
          - glossy
        printOption:
          type: string
          enum:
          - double_sided
          - single_sided
        mailClass:
          type: string
          enum:
          - first_class
          - standard
          - non_profit
      required:
      - documentClass
      - layout
      - productionTime
      - envelope
      - color
      - paperType
      - printOption
      - mailClass
    documentClass:
      type: string
      enum:
      - letter
      - postcard
      - brochure
      - flat
    layout:
      type: string
      enum:
      - address_on_first_page
      - address_on_back_page
    productionTime:
      type: string
      enum:
      - next_day
      - two_day
      - three_day
      - standard
      - same_day
    envelope:
      type: string
      enum:
      - standard
      - none
      - flat
      - double_window
    color:
      type: string
      enum:
      - full_color
      - black_and_white
    paperType:
      type: string
      enum:
      - white
      - white_24
      - ivory
      - glossy
    printOption:
      type: string
      enum:
      - double_sided
      - single_sided
    mailClass:
      type: string
      enum:
      - first_class
      - standard
      - non_profit
    tags:
      $ref: '#/components/schemas/tagsList'
    tagsList:
      type: array
      items:
        type: string
    firstName:
      type: string
    lastName:
      type: string
    company:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    recipientAddressSource:
      oneOf:
      - type: object
        properties:
          singleAddress:
            $ref: '#/components/schemas/singleAddress'
        required:
        - singleAddress
      - type: object
        properties:
          recipientAddressByList:
            $ref: '#/components/schemas/recipientAddressByList'
        required:
        - recipientAddressByList
      - type: object
        properties:
          recipientAddressByAddressId:
            $ref: '#/components/schemas/recipientAddressByAddressId'
        required:
        - recipientAddressByAddressId
      - type: object
        properties:
          recipientAddressByListId:
            $ref: '#/components/schemas/recipientAddressByListId'
        required:
        - recipientAddressByListId
    singleAddress:
      $ref: '#/components/schemas/address'
    recipientAddressByList:
      type: object
      properties:
        mappingId:
          type: integer
        addressList:
          $ref: '#/components/schemas/addressList'
        addressListName:
          type: string
      required:
      - addressList
    recipientAddressByListId:
      $ref: '#/components/schemas/addressListId'
    recipientAddressByAddressId:
      $ref: '#/components/schemas/addressId'
    mappingId:
      $ref: '#/components/schemas/id'
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: '#/components/schemas/id'
    addressId:
      $ref: '#/components/schemas/id'
    addressList:
      type: array
      items:
        $ref: '#/components/schemas/address'
    documentIdSource:
      type: object
      properties:
        documentId:
          type: integer
      required:
      - documentId
    documentId:
      $ref: '#/components/schemas/id'
    requestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    requestId:
      $ref: '#/components/schemas/id'
    filename:
      type: string
    urlSource:
      type: object
      properties:
        url:
          type: string
          format: uri
      required:
      - url
    url:
      type: string
    zipDocumentIdSource:
      type: object
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - zipDocumentId
      - filename
    zipDocumentId:
      $ref: '#/components/schemas/id'
    zipRequestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - requestId
      - zipFilename
      - filename
    zipFilename:
      type: string
    zipDocumentIdOnly:
      type: object
      properties:
        zipDocumentId:
          type: integer
      required:
      - zipDocumentId
    zipRequestIdOnly:
      type: object
      properties:
        requestId:
          type: integer
      required:
      - requestId
    zipDocumentSource:
      oneOf:
      - type: object
        properties:
          zipDocumentIdSource:
            $ref: '#/components/schemas/zipDocumentIdSource'
        required:
        - zipDocumentIdSource
      - type: object
        properties:
          zipRequestIdSource:
            $ref: '#/components/schemas/zipRequestIdSource'
        required:
        - zipRequestIdSource
    docSourceStandard:
      oneOf:
      - type: object
        properties:
          documentIdSource:
            $ref: '#/components/schemas/documentIdSource'
        required:
        - documentIdSource
      - type: object
        properties:
          requestIdSource:
            $ref: '#/components/schemas/requestIdSource'
        required:
        - requestIdSource
      - type: object
        properties:
          urlSource:
            $ref: '#/components/schemas/urlSource'
        required:
        - urlSource
    docSourceZipFile:
      oneOf:
      - type: object
        properties:
          zipDocumentIdSource:
            $ref: '#/components/schemas/zipDocumentIdSource'
        required:
        - zipDocumentIdSource
      - type: object
        properties:
          zipRequestIdSource:
            $ref: '#/components/schemas/zipRequestIdSource'
        required:
        - zipRequestIdSource
    docSourceZipFileRef:
      oneOf:
      - type: object
        properties:
          zipDocumentIdOnly:
            $ref: '#/components/schemas/zipDocumentIdOnly'
        required:
        - zipDocumentIdOnly
      - type: object
        properties:
          zipRequestIdOnly:
            $ref: '#/components/schemas/zipRequestIdOnly'
        required:
        - zipRequestIdOnly
    docSourceAll:
      oneOf:
      - type: object
        properties:
          documentIdSource:
            $ref: '#/components/schemas/documentIdSource'
        required:
        - documentIdSource
      - type: object
        properties:
          requestIdSource:
            $ref: '#/components/schemas/requestIdSource'
        required:
        - requestIdSource
      - type: object
        properties:
          urlSource:
            $ref: '#/components/schemas/urlSource'
        required:
        - urlSource
      - type: object
        properties:
          zipDocumentIdSource:
            $ref: '#/components/schemas/zipDocumentIdSource'
        required:
        - zipDocumentIdSource
      - type: object
        properties:
          zipRequestIdSource:
            $ref: '#/components/schemas/zipRequestIdSource'
        required:
        - zipRequestIdSource
    mergeDocumentSource:
      $ref: '#/components/schemas/documentsToMerge'
    documentsToMerge:
      type: array
      items:
        $ref: '#/components/schemas/mergeDocumentRef'
    mergeDocumentRef:
      oneOf:
      - type: object
        properties:
          mergeByDocumentId:
            $ref: '#/components/schemas/mergeByDocumentId'
        required:
        - mergeByDocumentId
      - type: object
        properties:
          mergeByRequestId:
            $ref: '#/components/schemas/mergeByRequestId'
        required:
        - mergeByRequestId
    mergeByDocumentId:
      type: object
      properties:
        documentId:
          type: integer
      required:
      - documentId
    mergeByRequestId:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    multiDocJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiDocJobItem'
    multiDocJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - docSourceAll
      - recipientAddressSource
    pdfSplitJobsWithAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemWithAddress'
    pdfSplitJobsNoAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemNoAddress'
    pdfSplitJobItemWithAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - startPage
      - endPage
      - recipientAddressSource
    pdfSplitJobItemNoAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - startPage
      - endPage
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiZipJobItem'
    multiZipJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - filename
      - recipientAddressSource
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: '#/components/schemas/creditCardPayment'
      - $ref: '#/components/schemas/invoicePayment'
      - $ref: '#/components/schemas/achPayment'
      - $ref: '#/components/schemas/userCreditPayment'
    creditCardPayment:
      type: object
      properties:
        creditCardDetails:
          $ref: '#/components/schemas/creditCardDetails'
      required:
      - creditCardDetails
    invoicePayment:
      type: object
      properties:
        invoiceDetails:
          $ref: '#/components/schemas/invoiceDetails'
      required:
      - invoiceDetails
    achPayment:
      type: object
      properties:
        achDetails:
          $ref: '#/components/schemas/achDetails'
      required:
      - achDetails
    userCreditPayment:
      type: object
      properties:
        creditAmount:
          $ref: '#/components/schemas/creditAmount'
      required:
      - creditAmount
    creditCardDetails:
      type: object
      properties:
        cardType:
          type: string
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
        cardNumber:
          type: string
        expirationDate:
          $ref: '#/components/schemas/expirationDate'
        cvv:
          type: integer
      required:
      - cardType
      - cardNumber
      - expirationDate
      - cvv
    invoiceDetails:
      type: object
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - invoiceNumber
      - amountDue
    achDetails:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - routingNumber
      - accountNumber
      - checkDigit
    creditAmount:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
      required:
      - amount
      - currency
    currency:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      type: object
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      type: string
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
    standardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - status
      - message
      - requestId
    status:
      type: string
    message:
      type: string
    errorResponse:
      type: object
      properties:
        errorType:
          type: string
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - RateLimitError
          - ServerError
        errorMessage:
          type: string
        errorCode:
          type: string
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
          - RATE_LIMIT_EXCEEDED
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorType
      - errorMessage
      - errorCode
    errorType:
      type: string
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - RateLimitError
      - ServerError
    errorMessage:
      type: string
    errorCode:
      type: string
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
      - RATE_LIMIT_EXCEEDED
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: '#/components/schemas/errorResponse'
    HTTP_401_UNAUTHORIZED:
      $ref: '#/components/schemas/errorResponse'
    HTTP_403_FORBIDDEN:
      $ref: '#/components/schemas/errorResponse'
    HTTP_404_NOT_FOUND:
      $ref: '#/components/schemas/errorResponse'
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: '#/components/schemas/errorResponse'
    HTTP_429_TOO_MANY_REQUESTS:
      $ref: '#/components/schemas/errorResponse'
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: '#/components/schemas/errorResponse'
    ShortTokenRequest:
      type: object
      properties:
        long_token:
          type: string
          description: Optional if the long-term token is provided in Authorization header
        scopes:
          type: array
          items:
            type: string
          description: Optional scope narrowing; defaults to the long-term token's scopes
      additionalProperties: false
    ShortTokenResponse:
      type: object
      required:
      - token_type
      - access_token
      - expires_in
      - expires_at
      properties:
        token_type:
          type: string
          enum:
          - Bearer
        access_token:
          type: string
          description: Short-lived JWT
        expires_in:
          type: integer
          description: Lifetime in seconds (e.g., 900 for 15 minutes)
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of expiration
        scopes:
          type: array
          items:
            type: string
          description: Granted scopes
        token_id:
          type: string
          description: Server-issued identifier for this token
    LongTokenRequest:
      type: object
      description: One of several credential mechanisms must be provided.
      required:
      - grant_type
      - client_id
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
          - assertion
          description: The authentication grant type
        client_id:
          type: string
          description: Client identifier issued by Click2Mail
        client_secret:
          type: string
          description: Required if using client_credentials with secret
        otp_code:
          type: string
          description: Required if your policy mandates OTP for issuance
        assertion_type:
          type: string
          description: Required when grant_type=assertion
        assertion:
          type: string
          description: Signed JWT or other accepted assertion
        scopes:
          type: array
          items:
            type: string
          description: Scopes to assign to the long-term token
        ttl_seconds:
          type: integer
          minimum: 3600
          maximum: 7776000
          description: Requested lifetime (1 hour - 90 days). Server may clamp.
      additionalProperties: false
    LongTokenResponse:
      type: object
      required:
      - token_type
      - access_token
      - expires_in
      - expires_at
      properties:
        token_type:
          type: string
          enum:
          - Bearer
        access_token:
          type: string
          description: Long-lived token (opaque or JWT depending on deployment)
        expires_in:
          type: integer
          description: Lifetime in seconds
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of expiration
        scopes:
          type: array
          items:
            type: string
          description: Granted scopes
        token_id:
          type: string
          description: Server-issued identifier for this token
    AuthError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: invalid_grant
          description: OAuth-style error code
        message:
          type: string
          example: The provided client credentials are invalid.
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    LongTokenAuth:
      type: oauth2
      description: Long-term JWT for exchanging to short-term tokens
      flows:
        clientCredentials:
          tokenUrl: /auth/tokens/long
          scopes:
            tokens:write: Create new long-term tokens
            tokens:revoke: Revoke existing tokens
    ShortTokenAuth:
      type: oauth2
      description: Short-term JWT for API operations
      flows:
        clientCredentials:
          tokenUrl: /auth/tokens/short
          scopes:
            tokens:write: Create new long-term tokens
            tokens:revoke: Revoke existing tokens
    ClientKey:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client identifier for additional security
  responses:
    Error400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            invalidGrant:
              value:
                code: invalid_grant
                message: The grant type is not supported
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            invalidToken:
              value:
                code: invalid_token
                message: The provided token is expired or invalid
    Error403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            insufficientScope:
              value:
                code: insufficient_scope
                message: The token lacks the required scope for this operation
    Error404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            notFound:
              value:
                code: not_found
                message: The requested resource was not found
    Error429:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            rateLimited:
              value:
                code: rate_limited
                message: Too many requests. Please retry after 60 seconds.
security:
- bearerAuth: []
paths:
  /static:
    post:
      tags:
      - jobs
      summary: Submit single document
      description: Submits a mailing job for a single document to one or more recipients. The request body must include a
        document source, recipient address information, and payment details.
      operationId: submitDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Required field is missing from request body
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceAll", "location": "requestBody"}'
                    errorTrackingId: TRK-20260919-A9F5A9
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request must match exactly one of the defined schemas
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceAll", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260919-F55E97
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request body contains malformed JSON
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260919-D5841D
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260919-7223F3
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid or malformed
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260919-A07236
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-19T16:30:26Z", "currentTime": "2026-09-19T17:30:26Z"}'
                    errorTrackingId: TRK-20260919-E9E353
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User does not have required permissions for this operation
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260919-3954D2
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260919-7CB98E
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: The specified job does not exist
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260919-F935F5
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260919-8FEB5C
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Field contains a value not allowed by the enumeration
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceAll", "value": "invalid_value", "allowedValues": ["letter", "postcard",
                      "brochure", "flat"]}'
                    errorTrackingId: TRK-20260919-1D8BDE
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request contains mutually exclusive fields
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260919-B4B594
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request validation failed for multiple fields
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceAll", "issue": "not found in document library"}, {"field":
                      "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260919-2FDE85
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: An unexpected error occurred while processing the request
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260919-BBBE2B
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database operation failed
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260919-3D5D81
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service call failed
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260919-D27219
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl -X POST \\\n  \"https://api.click2mail.com/v2/static\" \\\n  -H \"Authorization: Bearer <your-jwt-token>\"\
          \ \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = f\"https://api.click2mail.com/v2/static\"\nheaders = {\n    \"Authorization\": \"\
          Bearer <your-jwt-token>\",\n    \"Content-Type\": \"application/json\"\n}\n\ndata = {\n    # Add your request body\
          \ here\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nprint(response.json())"
      - lang: javascript
        label: JavaScript
        source: "const url = `https://api.click2mail.com/v2/static`;\nconst headers = {\n    'Authorization': 'Bearer <your-jwt-token>',\n\
          \    'Content-Type': 'application/json'\n};\n\nconst data = {\n    // Add your request body here\n};\n\nconst response\
          \ = await fetch(url, {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify(data)\n});\n\nconst\
          \ result = await response.json();\nconsole.log(result);"
      - lang: java
        label: Java
        source: "import com.c2m.ApiClient;\nimport com.c2m.ApiException;\nimport com.c2m.Configuration;\nimport com.c2m.auth.*;\n\
          import com.c2m.api.*;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient\
          \ defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure Bearer token\n        HttpBearerAuth\
          \ bearer = (HttpBearerAuth) defaultClient.getAuthentication(\"bearerAuth\");\n        bearer.setBearerToken(\"<your-jwt-token>\"\
          );\n        \n        DefaultApi apiInstance = new DefaultApi(defaultClient);\n        \n        try {\n       \
          \     // Call the API\n            var result = apiInstance.submitDocParams();\n            System.out.println(result);\n\
          \        } catch (ApiException e) {\n            System.err.println(\"Exception when calling API\");\n         \
          \   e.printStackTrace();\n        }\n    }\n}"
      - lang: csharp
        label: C#
        source: "using System;\nusing C2M.Api;\nusing C2M.Client;\nusing C2M.Model;\n\nnamespace Example\n{\n    public class\
          \ Program\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n\
          \            config.AccessToken = \"<your-jwt-token>\";\n            \n            var apiInstance = new DefaultApi(config);\n\
          \            \n            try\n            {\n                // Call the API\n                var result = apiInstance.submitDocParams();\n\
          \                Console.WriteLine(result);\n            }\n            catch (ApiException e)\n            {\n\
          \                Console.WriteLine(\"Exception: \" + e.Message);\n                Console.WriteLine(\"Status Code:\
          \ \" + e.ErrorCode);\n            }\n        }\n    }\n}"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/c2m/go-sdk\"\n)\n\nfunc main() {\n\
          \    cfg := c2m.NewConfiguration()\n    cfg.AddDefaultHeader(\"Authorization\", \"Bearer <your-jwt-token>\")\n \
          \   \n    client := c2m.NewAPIClient(cfg)\n    ctx := context.Background()\n    \n    resp, r, err := client.DefaultApi.submitDocParams(ctx).Execute()\n\
          \    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    \n    fmt.Printf(\"\
          Response: %v\\n\", resp)\n}"
      - lang: swift
        label: Swift
        source: "import Foundation\n\nlet url = URL(string: \"https://api.click2mail.com/v2/static\")!\nvar request = URLRequest(url:\
          \ url)\nrequest.httpMethod = \"POST\"\nrequest.setValue(\"Bearer <your-jwt-token>\", forHTTPHeaderField: \"Authorization\"\
          )\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\n\nlet body: [String: Any] = [\n\
          \    // Add your request body here\n]\nrequest.httpBody = try? JSONSerialization.data(withJSONObject: body)\n\n\
          let task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data,\n     \
          \  let json = try? JSONSerialization.jsonObject(with: data) {\n        print(json)\n    }\n}\ntask.resume()"
      - lang: kotlin
        label: Kotlin
        source: "import okhttp3.*\nimport okhttp3.MediaType.Companion.toMediaType\nimport okhttp3.RequestBody.Companion.toRequestBody\n\
          \nval client = OkHttpClient()\nval url = \"https://api.click2mail.com/v2/static\"\n\nval body = \"\"\"\n    {{\n\
          \        // Add your request body here\n    }}\n\"\"\".trimIndent().toRequestBody(\"application/json\".toMediaType())\n\
          \nval request = Request.Builder()\n    .url(url)\n    .addHeader(\"Authorization\", \"Bearer <your-jwt-token>\"\
          )\n    .addHeader(\"Content-Type\", \"application/json\")\n    .post(body)\n    .build()\n\nval response = client.newCall(request).execute()\n\
          println(response.body?.string())"
      - lang: rust
        label: Rust
        source: "use reqwest::header;\nuse serde_json::json;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>>\
          \ {\n    let client = reqwest::Client::new();\n    let url = \"https://api.click2mail.com/v2/static\";\n\n    let\
          \ body = json!({\n        // Add your request body here\n    });\n\n    let response = client\n        .post(url)\n\
          \        .header(header::AUTHORIZATION, \"Bearer <your-jwt-token>\")\n        .header(header::CONTENT_TYPE, \"application/json\"\
          )\n        .json(&body)\n        .send()\n        .await?;\n\n    let result: serde_json::Value = response.json().await?;\n\
          \    println!(\"{:#?}\", result);\n    Ok(())\n}"
  /static/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit single document \u2014 address capture"
      description: Submits a mailing job for a single PDF where recipient addresses are captured from the document via OCR.
        No inline recipient address is required.
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Required field is missing from request body
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260919-84563C
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request must match exactly one of the defined schemas
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260919-1CBDF7
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request body contains malformed JSON
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260919-C95DF8
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260919-E751B1
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid or malformed
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260919-9F3D03
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-19T16:30:26Z", "currentTime": "2026-09-19T17:30:26Z"}'
                    errorTrackingId: TRK-20260919-00C579
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User does not have required permissions for this operation
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260919-0D1117
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260919-C04DE0
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: The specified job does not exist
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260919-E68EF2
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260919-77637F
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Field contains a value not allowed by the enumeration
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["letter", "postcard",
                      "brochure", "flat"]}'
                    errorTrackingId: TRK-20260919-19F6B1
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request contains mutually exclusive fields
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260919-EC714D
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request validation failed for multiple fields
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field":
                      "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260919-2F3BAD
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: An unexpected error occurred while processing the request
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260919-CB8534
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database operation failed
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260919-1272FC
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service call failed
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260919-F35E05
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl -X POST \\\n  \"https://api.click2mail.com/v2/static/address-capture\" \\\n  -H \"Authorization: Bearer\
          \ <your-jwt-token>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = f\"https://api.click2mail.com/v2/static/address-capture\"\nheaders = {\n    \"Authorization\"\
          : \"Bearer <your-jwt-token>\",\n    \"Content-Type\": \"application/json\"\n}\n\ndata = {\n    # Add your request\
          \ body here\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nprint(response.json())"
      - lang: javascript
        label: JavaScript
        source: "const url = `https://api.click2mail.com/v2/static/address-capture`;\nconst headers = {\n    'Authorization':\
          \ 'Bearer <your-jwt-token>',\n    'Content-Type': 'application/json'\n};\n\nconst data = {\n    // Add your request\
          \ body here\n};\n\nconst response = await fetch(url, {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify(data)\n\
          });\n\nconst result = await response.json();\nconsole.log(result);"
      - lang: java
        label: Java
        source: "import com.c2m.ApiClient;\nimport com.c2m.ApiException;\nimport com.c2m.Configuration;\nimport com.c2m.auth.*;\n\
          import com.c2m.api.*;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient\
          \ defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure Bearer token\n        HttpBearerAuth\
          \ bearer = (HttpBearerAuth) defaultClient.getAuthentication(\"bearerAuth\");\n        bearer.setBearerToken(\"<your-jwt-token>\"\
          );\n        \n        DefaultApi apiInstance = new DefaultApi(defaultClient);\n        \n        try {\n       \
          \     // Call the API\n            var result = apiInstance.submitSinglePdfAddressCaptureParams();\n           \
          \ System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\"Exception when\
          \ calling API\");\n            e.printStackTrace();\n        }\n    }\n}"
      - lang: csharp
        label: C#
        source: "using System;\nusing C2M.Api;\nusing C2M.Client;\nusing C2M.Model;\n\nnamespace Example\n{\n    public class\
          \ Program\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n\
          \            config.AccessToken = \"<your-jwt-token>\";\n            \n            var apiInstance = new DefaultApi(config);\n\
          \            \n            try\n            {\n                // Call the API\n                var result = apiInstance.submitSinglePdfAddressCaptureParams();\n\
          \                Console.WriteLine(result);\n            }\n            catch (ApiException e)\n            {\n\
          \                Console.WriteLine(\"Exception: \" + e.Message);\n                Console.WriteLine(\"Status Code:\
          \ \" + e.ErrorCode);\n            }\n        }\n    }\n}"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/c2m/go-sdk\"\n)\n\nfunc main() {\n\
          \    cfg := c2m.NewConfiguration()\n    cfg.AddDefaultHeader(\"Authorization\", \"Bearer <your-jwt-token>\")\n \
          \   \n    client := c2m.NewAPIClient(cfg)\n    ctx := context.Background()\n    \n    resp, r, err := client.DefaultApi.submitSinglePdfAddressCaptureParams(ctx).Execute()\n\
          \    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    \n    fmt.Printf(\"\
          Response: %v\\n\", resp)\n}"
      - lang: swift
        label: Swift
        source: "import Foundation\n\nlet url = URL(string: \"https://api.click2mail.com/v2/static/address-capture\")!\nvar\
          \ request = URLRequest(url: url)\nrequest.httpMethod = \"POST\"\nrequest.setValue(\"Bearer <your-jwt-token>\", forHTTPHeaderField:\
          \ \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\n\nlet body:\
          \ [String: Any] = [\n    // Add your request body here\n]\nrequest.httpBody = try? JSONSerialization.data(withJSONObject:\
          \ body)\n\nlet task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data,\n\
          \       let json = try? JSONSerialization.jsonObject(with: data) {\n        print(json)\n    }\n}\ntask.resume()"
      - lang: kotlin
        label: Kotlin
        source: "import okhttp3.*\nimport okhttp3.MediaType.Companion.toMediaType\nimport okhttp3.RequestBody.Companion.toRequestBody\n\
          \nval client = OkHttpClient()\nval url = \"https://api.click2mail.com/v2/static/address-capture\"\n\nval body =\
          \ \"\"\"\n    {{\n        // Add your request body here\n    }}\n\"\"\".trimIndent().toRequestBody(\"application/json\"\
          .toMediaType())\n\nval request = Request.Builder()\n    .url(url)\n    .addHeader(\"Authorization\", \"Bearer <your-jwt-token>\"\
          )\n    .addHeader(\"Content-Type\", \"application/json\")\n    .post(body)\n    .build()\n\nval response = client.newCall(request).execute()\n\
          println(response.body?.string())"
      - lang: rust
        label: Rust
        source: "use reqwest::header;\nuse serde_json::json;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>>\
          \ {\n    let client = reqwest::Client::new();\n    let url = \"https://api.click2mail.com/v2/static/address-capture\"\
          ;\n\n    let body = json!({\n        // Add your request body here\n    });\n\n    let response = client\n     \
          \   .post(url)\n        .header(header::AUTHORIZATION, \"Bearer <your-jwt-token>\")\n        .header(header::CONTENT_TYPE,\
          \ \"application/json\")\n        .json(&body)\n        .send()\n        .await?;\n\n    let result: serde_json::Value\
          \ = response.json().await?;\n    println!(\"{:#?}\", result);\n    Ok(())\n}"
  /batch/split:
    post:
      tags:
      - jobs
      summary: Submit PDF split
      description: Splits a single PDF into page ranges and mails each range to a different recipient. Each job item specifies
        page range and recipient address.
      operationId: submitSinglePdfSplitParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Required field is missing from request body
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260919-DB37A9
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request must match exactly one of the defined schemas
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260919-00A97D
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request body contains malformed JSON
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260919-25625F
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260919-E817B6
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid or malformed
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260919-BA8938
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-19T16:30:26Z", "currentTime": "2026-09-19T17:30:26Z"}'
                    errorTrackingId: TRK-20260919-A94C4B
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User does not have required permissions for this operation
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260919-88391C
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260919-F82AEB
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: The specified job does not exist
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260919-83B60D
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260919-248723
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Field contains a value not allowed by the enumeration
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["letter", "postcard",
                      "brochure", "flat"]}'
                    errorTrackingId: TRK-20260919-CAF061
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request contains mutually exclusive fields
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260919-A9D866
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request validation failed for multiple fields
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field":
                      "pdfSplitJobsWithAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260919-A9B613
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: An unexpected error occurred while processing the request
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260919-082DA5
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database operation failed
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260919-8D1148
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service call failed
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260919-DF9BDC
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl -X POST \\\n  \"https://api.click2mail.com/v2/batch/split\" \\\n  -H \"Authorization: Bearer <your-jwt-token>\"\
          \ \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = f\"https://api.click2mail.com/v2/batch/split\"\nheaders = {\n    \"Authorization\"\
          : \"Bearer <your-jwt-token>\",\n    \"Content-Type\": \"application/json\"\n}\n\ndata = {\n    # Add your request\
          \ body here\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nprint(response.json())"
      - lang: javascript
        label: JavaScript
        source: "const url = `https://api.click2mail.com/v2/batch/split`;\nconst headers = {\n    'Authorization': 'Bearer\
          \ <your-jwt-token>',\n    'Content-Type': 'application/json'\n};\n\nconst data = {\n    // Add your request body\
          \ here\n};\n\nconst response = await fetch(url, {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify(data)\n\
          });\n\nconst result = await response.json();\nconsole.log(result);"
      - lang: java
        label: Java
        source: "import com.c2m.ApiClient;\nimport com.c2m.ApiException;\nimport com.c2m.Configuration;\nimport com.c2m.auth.*;\n\
          import com.c2m.api.*;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient\
          \ defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure Bearer token\n        HttpBearerAuth\
          \ bearer = (HttpBearerAuth) defaultClient.getAuthentication(\"bearerAuth\");\n        bearer.setBearerToken(\"<your-jwt-token>\"\
          );\n        \n        DefaultApi apiInstance = new DefaultApi(defaultClient);\n        \n        try {\n       \
          \     // Call the API\n            var result = apiInstance.submitSinglePdfSplitParams();\n            System.out.println(result);\n\
          \        } catch (ApiException e) {\n            System.err.println(\"Exception when calling API\");\n         \
          \   e.printStackTrace();\n        }\n    }\n}"
      - lang: csharp
        label: C#
        source: "using System;\nusing C2M.Api;\nusing C2M.Client;\nusing C2M.Model;\n\nnamespace Example\n{\n    public class\
          \ Program\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n\
          \            config.AccessToken = \"<your-jwt-token>\";\n            \n            var apiInstance = new DefaultApi(config);\n\
          \            \n            try\n            {\n                // Call the API\n                var result = apiInstance.submitSinglePdfSplitParams();\n\
          \                Console.WriteLine(result);\n            }\n            catch (ApiException e)\n            {\n\
          \                Console.WriteLine(\"Exception: \" + e.Message);\n                Console.WriteLine(\"Status Code:\
          \ \" + e.ErrorCode);\n            }\n        }\n    }\n}"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/c2m/go-sdk\"\n)\n\nfunc main() {\n\
          \    cfg := c2m.NewConfiguration()\n    cfg.AddDefaultHeader(\"Authorization\", \"Bearer <your-jwt-token>\")\n \
          \   \n    client := c2m.NewAPIClient(cfg)\n    ctx := context.Background()\n    \n    resp, r, err := client.DefaultApi.submitSinglePdfSplitParams(ctx).Execute()\n\
          \    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    \n    fmt.Printf(\"\
          Response: %v\\n\", resp)\n}"
      - lang: swift
        label: Swift
        source: "import Foundation\n\nlet url = URL(string: \"https://api.click2mail.com/v2/batch/split\")!\nvar request =\
          \ URLRequest(url: url)\nrequest.httpMethod = \"POST\"\nrequest.setValue(\"Bearer <your-jwt-token>\", forHTTPHeaderField:\
          \ \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\")\n\nlet body:\
          \ [String: Any] = [\n    // Add your request body here\n]\nrequest.httpBody = try? JSONSerialization.data(withJSONObject:\
          \ body)\n\nlet task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data,\n\
          \       let json = try? JSONSerialization.jsonObject(with: data) {\n        print(json)\n    }\n}\ntask.resume()"
      - lang: kotlin
        label: Kotlin
        source: "import okhttp3.*\nimport okhttp3.MediaType.Companion.toMediaType\nimport okhttp3.RequestBody.Companion.toRequestBody\n\
          \nval client = OkHttpClient()\nval url = \"https://api.click2mail.com/v2/batch/split\"\n\nval body = \"\"\"\n  \
          \  {{\n        // Add your request body here\n    }}\n\"\"\".trimIndent().toRequestBody(\"application/json\".toMediaType())\n\
          \nval request = Request.Builder()\n    .url(url)\n    .addHeader(\"Authorization\", \"Bearer <your-jwt-token>\"\
          )\n    .addHeader(\"Content-Type\", \"application/json\")\n    .post(body)\n    .build()\n\nval response = client.newCall(request).execute()\n\
          println(response.body?.string())"
      - lang: rust
        label: Rust
        source: "use reqwest::header;\nuse serde_json::json;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>>\
          \ {\n    let client = reqwest::Client::new();\n    let url = \"https://api.click2mail.com/v2/batch/split\";\n\n\
          \    let body = json!({\n        // Add your request body here\n    });\n\n    let response = client\n        .post(url)\n\
          \        .header(header::AUTHORIZATION, \"Bearer <your-jwt-token>\")\n        .header(header::CONTENT_TYPE, \"application/json\"\
          )\n        .json(&body)\n        .send()\n        .await?;\n\n    let result: serde_json::Value = response.json().await?;\n\
          \    println!(\"{:#?}\", result);\n    Ok(())\n}"
  /batch/split/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit PDF split \u2014 address capture"
      description: Splits a single PDF into page ranges where recipient addresses are captured from the PDF. No inline recipient
        addresses are required.
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Required field is missing from request body
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260919-932A76
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request must match exactly one of the defined schemas
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260919-41A7E2
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request body contains malformed JSON
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260919-953A83
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260919-D13345
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid or malformed
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260919-6CFC8F
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-19T16:30:26Z", "currentTime": "2026-09-19T17:30:26Z"}'
                    errorTrackingId: TRK-20260919-FD2F2D
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User does not have required permissions for this operation
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260919-43E115
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260919-F0A094
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: The specified job does not exist
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260919-1FA578
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260919-C7FDEC
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Field contains a value not allowed by the enumeration
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["letter", "postcard",
                      "brochure", "flat"]}'
                    errorTrackingId: TRK-20260919-C729DD
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request contains mutually exclusive fields
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260919-2E878B
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request validation failed for multiple fields
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field":
                      "pdfSplitJobsNoAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260919-B1C133
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: An unexpected error occurred while processing the request
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260919-697DC8
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database operation failed
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260919-C9681E
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service call failed
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260919-400728
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl -X POST \\\n  \"https://api.click2mail.com/v2/batch/split/address-capture\" \\\n  -H \"Authorization:\
          \ Bearer <your-jwt-token>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = f\"https://api.click2mail.com/v2/batch/split/address-capture\"\nheaders = {\n  \
          \  \"Authorization\": \"Bearer <your-jwt-token>\",\n    \"Content-Type\": \"application/json\"\n}\n\ndata = {\n\
          \    # Add your request body here\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nprint(response.json())"
      - lang: javascript
        label: JavaScript
        source: "const url = `https://api.click2mail.com/v2/batch/split/address-capture`;\nconst headers = {\n    'Authorization':\
          \ 'Bearer <your-jwt-token>',\n    'Content-Type': 'application/json'\n};\n\nconst data = {\n    // Add your request\
          \ body here\n};\n\nconst response = await fetch(url, {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify(data)\n\
          });\n\nconst result = await response.json();\nconsole.log(result);"
      - lang: java
        label: Java
        source: "import com.c2m.ApiClient;\nimport com.c2m.ApiException;\nimport com.c2m.Configuration;\nimport com.c2m.auth.*;\n\
          import com.c2m.api.*;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient\
          \ defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure Bearer token\n        HttpBearerAuth\
          \ bearer = (HttpBearerAuth) defaultClient.getAuthentication(\"bearerAuth\");\n        bearer.setBearerToken(\"<your-jwt-token>\"\
          );\n        \n        DefaultApi apiInstance = new DefaultApi(defaultClient);\n        \n        try {\n       \
          \     // Call the API\n            var result = apiInstance.submitSinglePdfSplitAddressCaptureParams();\n      \
          \      System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\"Exception\
          \ when calling API\");\n            e.printStackTrace();\n        }\n    }\n}"
      - lang: csharp
        label: C#
        source: "using System;\nusing C2M.Api;\nusing C2M.Client;\nusing C2M.Model;\n\nnamespace Example\n{\n    public class\
          \ Program\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n\
          \            config.AccessToken = \"<your-jwt-token>\";\n            \n            var apiInstance = new DefaultApi(config);\n\
          \            \n            try\n            {\n                // Call the API\n                var result = apiInstance.submitSinglePdfSplitAddressCaptureParams();\n\
          \                Console.WriteLine(result);\n            }\n            catch (ApiException e)\n            {\n\
          \                Console.WriteLine(\"Exception: \" + e.Message);\n                Console.WriteLine(\"Status Code:\
          \ \" + e.ErrorCode);\n            }\n        }\n    }\n}"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/c2m/go-sdk\"\n)\n\nfunc main() {\n\
          \    cfg := c2m.NewConfiguration()\n    cfg.AddDefaultHeader(\"Authorization\", \"Bearer <your-jwt-token>\")\n \
          \   \n    client := c2m.NewAPIClient(cfg)\n    ctx := context.Background()\n    \n    resp, r, err := client.DefaultApi.submitSinglePdfSplitAddressCaptureParams(ctx).Execute()\n\
          \    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    \n    fmt.Printf(\"\
          Response: %v\\n\", resp)\n}"
      - lang: swift
        label: Swift
        source: "import Foundation\n\nlet url = URL(string: \"https://api.click2mail.com/v2/batch/split/address-capture\"\
          )!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"POST\"\nrequest.setValue(\"Bearer <your-jwt-token>\"\
          , forHTTPHeaderField: \"Authorization\")\nrequest.setValue(\"application/json\", forHTTPHeaderField: \"Content-Type\"\
          )\n\nlet body: [String: Any] = [\n    // Add your request body here\n]\nrequest.httpBody = try? JSONSerialization.data(withJSONObject:\
          \ body)\n\nlet task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data,\n\
          \       let json = try? JSONSerialization.jsonObject(with: data) {\n        print(json)\n    }\n}\ntask.resume()"
      - lang: kotlin
        label: Kotlin
        source: "import okhttp3.*\nimport okhttp3.MediaType.Companion.toMediaType\nimport okhttp3.RequestBody.Companion.toRequestBody\n\
          \nval client = OkHttpClient()\nval url = \"https://api.click2mail.com/v2/batch/split/address-capture\"\n\nval body\
          \ = \"\"\"\n    {{\n        // Add your request body here\n    }}\n\"\"\".trimIndent().toRequestBody(\"application/json\"\
          .toMediaType())\n\nval request = Request.Builder()\n    .url(url)\n    .addHeader(\"Authorization\", \"Bearer <your-jwt-token>\"\
          )\n    .addHeader(\"Content-Type\", \"application/json\")\n    .post(body)\n    .build()\n\nval response = client.newCall(request).execute()\n\
          println(response.body?.string())"
      - lang: rust
        label: Rust
        source: "use reqwest::header;\nuse serde_json::json;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>>\
          \ {\n    let client = reqwest::Client::new();\n    let url = \"https://api.click2mail.com/v2/batch/split/address-capture\"\
          ;\n\n    let body = json!({\n        // Add your request body here\n    });\n\n    let response = client\n     \
          \   .post(url)\n        .header(header::AUTHORIZATION, \"Bearer <your-jwt-token>\")\n        .header(header::CONTENT_TYPE,\
          \ \"application/json\")\n        .json(&body)\n        .send()\n        .await?;\n\n    let result: serde_json::Value\
          \ = response.json().await?;\n    println!(\"{:#?}\", result);\n    Ok(())\n}"
  /mail-merge:
    post:
      tags:
      - jobs
      summary: Submit mail merge
      description: Merges multiple documents into a single mailing sent to one recipient. Useful for creating document packets
        or multi-page letters.
      operationId: submitMultiDocMergeParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocMergeParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Required field is missing from request body
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "mergeDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260919-EC78E2
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request must match exactly one of the defined schemas
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "mergeDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260919-376C54
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request body contains malformed JSON
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260919-A09925
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260919-F10F9A
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid or malformed
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260919-C87FE3
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-19T16:30:26Z", "currentTime": "2026-09-19T17:30:26Z"}'
                    errorTrackingId: TRK-20260919-F22714
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User does not have required permissions for this operation
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260919-E09476
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: User account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260919-E88067
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: The specified job does not exist
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260919-ACD935
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260919-2CD49B
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Field contains a value not allowed by the enumeration
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "mergeDocumentSource", "value": "invalid_value", "allowedValues": ["letter",
                      "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260919-032F2B
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Request contains mutually exclusive fields
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260919-040B19
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Request validation failed for multiple fields
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "mergeDocumentSource", "issue": "not found in document library"},
                      {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260919-799624
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: An unexpected error occurred while processing the request
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260919-07A85A
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database operation failed
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260919-8AA931
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service call failed
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260919-93FE06
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl -X POST \\\n  \"https://api.click2mail.com/v2/mail-merge\" \\\n  -H \"Authorization: Bearer <your-jwt-token>\"\
          \ \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = f\"https://api.click2mail.com/v2/mail-merge\"\nheaders = {\n    \"Authorization\"\
          : \"Bearer <your-jwt-token>\",\n    \"Content-Type\": \"application/json\"\n}\n\ndata = {\n    # Add your request\
          \ body here\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nprint(response.json())"
      - lang: javascript
        label: JavaScript
        source: "const url = `https://api.click2mail.com/v2/mail-merge`;\nconst headers = {\n    'Authorization': 'Bearer\
          \ <your-jwt-token>',\n    'Content-Type': 'application/json'\n};\n\nconst data = {\n    // Add your request body\
          \ here\n};\n\nconst response = await fetch(url, {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify(data)\n\
          });\n\nconst result = await response.json();\nconsole.log(result);"
      - lang: java
        label: Java
        source: "import com.c2m.ApiClient;\nimport com.c2m.ApiException;\nimport com.c2m.Configuration;\nimport com.c2m.auth.*;\n\
          import com.c2m.api.*;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient\
          \ defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure Bearer token\n        HttpBearerAuth\
          \ bearer = (HttpBearerAuth) defaultClient.getAuthentication(\"bearerAuth\");\n        bearer.setBearerToken(\"<your-jwt-token>\"\
          );\n        \n        DefaultApi apiInstance = new DefaultApi(defaultClient);\n        \n        try {\n       \
          \     // Call the API\n            var result = apiInstance.submitMultiDocMergeParams();\n            System.out.println(result);\n\
          \        } catch (ApiException e) {\n            System.err.println(\"Exception when calling API\");\n         \
          \   e.printStackTrace();\n        }\n    }\n}"
      - lang: csharp
        label: C#
        source: "using System;\nusing C2M.Api;\nusing C2M.Client;\nusing C2M.Model;\n\nnamespace Example\n{\n    public class\
          \ Program\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n\
          \            config.AccessToken = \"<your-jwt-token>\";\n            \n            var apiInstance = new DefaultApi(config);\n\
          \            \n            try\n            {\n                // Call the API\n                var result = apiInstance.submitMultiDocMergeParams();\n\
          \                Console.WriteLine(result);\n            }\n            catch (ApiException e)\n            {\n\
          \                Console.WriteLine(\"Exception: \" + e.Message);\n                Console.WriteLine(\"Status Code:\
          \ \" + e.ErrorCode);\n            }\n        }\n    }\n}"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/c2m/go-sdk\"\n)\n\nfunc main() {\n\
          \    cfg := c2m.NewConfiguration()\n    cfg.AddDefaultHeader(\"Authorization\", \"Bearer <your-jwt-token>\")\n \
          \   \n    client := c2m.NewAPIClient(cfg)\n    ctx := context.Background()\n    \n    resp, r, err := client.DefaultApi.submitMultiDocMergeParams(ctx).Execute()\n\
          \    if err != nil {\n        fmt.Printf(\"Error: %v\\n\", err)\n        return\n    }\n    \n    fmt.Printf(\"\
[...]
