openapi: 3.0.3
info:
  title: C2M API v2
  version: 2.0.0
  description: API for submitting mailing jobs with various document routing options
  x-http-error-map:
    '400':
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    '401':
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    '403':
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    '404':
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    '422':
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    '429':
      errorType: RateLimitError
      errorCodes:
      - RATE_LIMIT_EXCEEDED
    '500':
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
servers:
- url: https://api.click2mail.com/v2
  description: Production server
tags:
- name: jobs
  description: Job submission endpoints
components:
  schemas:
    month:
      type: integer
      minimum: 1
      maximum: 12
    submitDocParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceAll
      - recipientAddressSource
    submitSinglePdfAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
    submitSinglePdfSplitParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsWithAddress:
          $ref: '#/components/schemas/pdfSplitJobsWithAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
    submitSinglePdfSplitAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsNoAddress:
          $ref: '#/components/schemas/pdfSplitJobsNoAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
    submitMultiDocMergeParams:
      type: object
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          $ref: '#/components/schemas/mergeDocumentSource'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - mergeDocumentSource
      - recipientAddressSource
    submitMultiZipParams:
      type: object
      properties:
        docSourceZipFileRef:
          $ref: '#/components/schemas/docSourceZipFileRef'
        multiZipJobs:
          $ref: '#/components/schemas/multiZipJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceZipFileRef
      - multiZipJobs
    submitMultiZipAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: '#/components/schemas/zipDocumentSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - zipDocumentSource
    jobTemplate:
      type: string
    returnAddress:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    jobOptions:
      type: object
      properties:
        documentClass:
          type: string
        layout:
          type: string
        productionTime:
          type: string
        envelope:
          type: string
        color:
          type: string
        paperType:
          type: string
        printOption:
          type: string
        mailClass:
          type: string
      required:
      - documentClass
      - layout
      - productionTime
      - envelope
      - color
      - paperType
      - printOption
      - mailClass
    documentClass:
      type: string
    layout:
      type: string
    productionTime:
      type: string
    envelope:
      type: string
    color:
      type: string
    paperType:
      type: string
    printOption:
      type: string
    mailClass:
      type: string
    tags:
      $ref: '#/components/schemas/tagsList'
    tagsList:
      type: array
      items:
        type: string
    firstName:
      type: string
    lastName:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    recipientAddressSource:
      oneOf:
      - $ref: '#/components/schemas/singleAddress'
      - $ref: '#/components/schemas/recipientAddressByList'
      - $ref: '#/components/schemas/recipientAddressByAddressId'
      - $ref: '#/components/schemas/recipientAddressByListId'
    singleAddress:
      $ref: '#/components/schemas/address'
    recipientAddressByList:
      type: object
      properties:
        mappingId:
          type: integer
        addressList:
          $ref: '#/components/schemas/addressList'
        addressListName:
          type: string
      required:
      - addressList
    recipientAddressByListId:
      $ref: '#/components/schemas/addressListId'
    recipientAddressByAddressId:
      $ref: '#/components/schemas/addressId'
    mappingId:
      $ref: '#/components/schemas/id'
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: '#/components/schemas/id'
    addressId:
      $ref: '#/components/schemas/id'
    addressList:
      type: array
      items:
        $ref: '#/components/schemas/address'
    documentIdSource:
      $ref: '#/components/schemas/documentId'
    documentId:
      $ref: '#/components/schemas/id'
    requestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    requestId:
      $ref: '#/components/schemas/id'
    filename:
      type: string
    urlSource:
      $ref: '#/components/schemas/url'
    url:
      type: string
    zipDocumentIdSource:
      type: object
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - zipDocumentId
      - filename
    zipDocumentId:
      $ref: '#/components/schemas/id'
    zipRequestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - requestId
      - zipFilename
      - filename
    zipFilename:
      type: string
    zipDocumentIdOnly:
      $ref: '#/components/schemas/zipDocumentId'
    zipRequestIdOnly:
      $ref: '#/components/schemas/requestId'
    zipDocumentSource:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceStandard:
      oneOf:
      - $ref: '#/components/schemas/documentIdSource'
      - $ref: '#/components/schemas/requestIdSource'
      - $ref: '#/components/schemas/urlSource'
    docSourceZipFile:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceZipFileRef:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdOnly'
      - $ref: '#/components/schemas/zipRequestIdOnly'
    docSourceAll:
      oneOf:
      - $ref: '#/components/schemas/docSourceStandard'
      - $ref: '#/components/schemas/docSourceZipFile'
    mergeDocumentSource:
      $ref: '#/components/schemas/documentsToMerge'
    documentsToMerge:
      type: array
      items:
        $ref: '#/components/schemas/mergeDocumentRef'
    mergeDocumentRef:
      oneOf:
      - $ref: '#/components/schemas/mergeByDocumentId'
      - $ref: '#/components/schemas/mergeByRequestId'
    mergeByDocumentId:
      $ref: '#/components/schemas/documentId'
    mergeByRequestId:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    multiDocJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiDocJobItem'
    multiDocJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - docSourceAll
      - recipientAddressSource
    pdfSplitJobsWithAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemWithAddress'
    pdfSplitJobsNoAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemNoAddress'
    pdfSplitJobItemWithAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - startPage
      - endPage
      - recipientAddressSource
    pdfSplitJobItemNoAddress:
      type: object
      properties:
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - startPage
      - endPage
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiZipJobItem'
    multiZipJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - filename
      - recipientAddressSource
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: '#/components/schemas/creditCardPayment'
      - $ref: '#/components/schemas/invoicePayment'
      - $ref: '#/components/schemas/achPayment'
      - $ref: '#/components/schemas/userCreditPayment'
    creditCardPayment:
      type: object
      properties:
        creditCardDetails:
          $ref: '#/components/schemas/creditCardDetails'
      required:
      - creditCardDetails
    invoicePayment:
      type: object
      properties:
        invoiceDetails:
          $ref: '#/components/schemas/invoiceDetails'
      required:
      - invoiceDetails
    achPayment:
      type: object
      properties:
        achDetails:
          $ref: '#/components/schemas/achDetails'
      required:
      - achDetails
    userCreditPayment:
      type: object
      properties:
        creditAmount:
          $ref: '#/components/schemas/creditAmount'
      required:
      - creditAmount
    creditCardDetails:
      type: object
      properties:
        cardType:
          type: string
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
        cardNumber:
          type: string
        expirationDate:
          $ref: '#/components/schemas/expirationDate'
        cvv:
          type: integer
      required:
      - cardType
      - cardNumber
      - expirationDate
      - cvv
    invoiceDetails:
      type: object
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - invoiceNumber
      - amountDue
    achDetails:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - routingNumber
      - accountNumber
      - checkDigit
    creditAmount:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
      required:
      - amount
      - currency
    currency:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      type: object
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
    year:
      type: integer
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      type: string
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
    standardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - status
      - message
      - requestId
    status:
      type: string
    message:
      type: string
    errorResponse:
      type: object
      properties:
        errorType:
          type: string
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - RateLimitError
          - ServerError
        errorMessage:
          type: string
        errorCode:
          type: string
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
          - RATE_LIMIT_EXCEEDED
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorType
      - errorMessage
      - errorCode
    errorType:
      type: string
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - RateLimitError
      - ServerError
    errorMessage:
      type: string
    errorCode:
      type: string
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
      - RATE_LIMIT_EXCEEDED
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: '#/components/schemas/errorResponse'
    HTTP_401_UNAUTHORIZED:
      $ref: '#/components/schemas/errorResponse'
    HTTP_403_FORBIDDEN:
      $ref: '#/components/schemas/errorResponse'
    HTTP_404_NOT_FOUND:
      $ref: '#/components/schemas/errorResponse'
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: '#/components/schemas/errorResponse'
    HTTP_429_TOO_MANY_REQUESTS:
      $ref: '#/components/schemas/errorResponse'
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: '#/components/schemas/errorResponse'
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- bearerAuth: []
paths:
  /static:
    post:
      tags:
      - jobs
      summary: Submit single document
      description: Submits a mailing job for a single document to one or more recipients. The request body must include a document source, recipient address information, and payment details.
      operationId: submitDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceAll", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-2UGSGJ
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceAll", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-KHPPIY
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-95LF81
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-P9EWGV
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-57Z3Z6
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-L9VVXG
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-E30N3T
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-8ZLA25
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-L0R0PX
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-WXNC6P
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceAll", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-O7KPGD
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-PBB1FN
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceAll", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-J68ZAJ
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-AUQ6KV
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-1FMZO7
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-ASBX20
  /static/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit single document \u2014 address capture"
      description: Submits a mailing job for a single PDF where recipient addresses are captured from the document via OCR. No inline recipient address is required.
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-9TZOXW
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-L1JZJX
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-OTUVPQ
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-FSCYDZ
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-ZG3UT9
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-ODU9EO
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-0JZJKR
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-NZ8VSB
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-MMRRFB
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-8WYEGV
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-KIUKXT
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-RXJB06
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-YJK6MF
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-7CUP93
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-0SQADK
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-YVSK24
  /batch/split:
    post:
      tags:
      - jobs
      summary: Submit PDF split
      description: Splits a single PDF into page ranges and mails each range to a different recipient. Each job item specifies page range and recipient address.
      operationId: submitSinglePdfSplitParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-3UPF33
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-92MFN0
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-3YANPO
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-X7BP2I
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-Z393Q3
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-H4VVVR
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-JTT3JR
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-7C7C85
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-I4W9GA
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-RD7ZPO
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-KOZG3S
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-NR2XEK
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsWithAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-1D7H6J
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-0LXH20
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-K2MQAN
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-822LMX
  /batch/split/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit PDF split \u2014 address capture"
      description: Splits a single PDF into page ranges where recipient addresses are captured from the PDF. No inline recipient addresses are required.
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-XHKGBI
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-TQEHSW
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-3T4CCT
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-UXPZ3N
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-L7JWT4
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-BINUKA
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-TMC9H8
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-3OWPPL
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-EIV0QP
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-OQO8TG
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-00WMDA
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-4LZCR5
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsNoAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-7XSASE
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-Q2IHLF
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-D0A6EY
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-AFRFSA
  /mail-merge:
    post:
      tags:
      - jobs
      summary: Submit mail merge
      description: Merges multiple documents into a single mailing sent to one recipient. Useful for creating document packets or multi-page letters.
      operationId: submitMultiDocMergeParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocMergeParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "mergeDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-SELCLN
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "mergeDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-GHFY4X
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-IVLZQX
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-WGYS1D
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-VTX1ZS
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-S35ZBM
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-0DPT6L
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-UG3S74
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-WN8KYX
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-NRHKA9
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "mergeDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-HWI2SD
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-M5AMNT
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "mergeDocumentSource", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-4O5YSH
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-ZS0RLG
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-IQ4B1M
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-5TRRFX
  /batch/zip:
    post:
      tags:
      - jobs
      summary: Submit ZIP batch
      description: Submits multiple mailing jobs sourced from files inside a single ZIP archive. Each job item specifies which file within the ZIP and the recipient address.
      operationId: submitMultiZipParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceZipFileRef", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-JEUIQ6
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceZipFileRef", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-GNTQXF
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-LGVTS4
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-1OQ8TS
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-7P1ER8
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-99X4WV
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-ZR8LP7
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-SWUAG9
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-7NOLHX
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-HLEZD2
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceZipFileRef", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-0MDALB
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-JP1EHT
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceZipFileRef", "issue": "not found in document library"}, {"field": "recipientAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-I1J7AV
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-02AIXN
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-34NIED
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-RNFU5L
  /batch/zip/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit ZIP batch \u2014 address capture"
      description: Submits a ZIP-based mailing batch where recipient addresses are captured externally. No inline recipient addresses are required.
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "zipDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-HTX2AS
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "zipDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-5054JZ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-RS4VAG
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-0FC3XE
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-6KMUDS
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-02-15T10:30:00Z", "currentTime": "2026-02-16T14:00:00Z"}'
                    errorTrackingId: TRK-20260912-YQAMAR
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-I4ACQ5
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-2DM2QF
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-VQAL9V
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-PA1V1N
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "zipDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-9KAVIK
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-T0KNIB
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "zipDocumentSource", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-0SVIUK
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-V1MR7I
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-0CURWX
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-KE5AY1
