openapi: 3.0.3
info:
  title: C2M API v2
  version: 2.0.0
  description: API for submitting mailing jobs with various document routing options
  x-http-error-map:
    '400':
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    '401':
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    '403':
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    '404':
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    '422':
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    '429':
      errorType: RateLimitError
      errorCodes:
      - RATE_LIMIT_EXCEEDED
    '500':
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
  x-numeric-constraints:
    month:
      minimum: 1
      maximum: 12
    year:
      minimum: 2000
      maximum: 2099
    quantity:
      minimum: 1
  x-valid-combinations:
  - when_field: color
    when_value: black_and_white
    then_field: paperType
    then_values:
    - white
    - white_24
    - ivory
  - when_field: mailClass
    when_value: non_profit
    then_field: documentClass
    then_values:
    - letter
    - flat
  - when_field: envelope
    when_value: none
    then_field: layout
    then_values:
    - address_on_first_page
    - address_on_back_page
servers:
- url: https://api.click2mail.com/v2
  description: Production server
tags:
- name: jobs
  description: Job submission endpoints
- name: auth
  description: Authentication and token management endpoints
components:
  schemas:
    month:
      type: integer
      minimum: 1
      maximum: 12
    year:
      type: integer
      minimum: 2000
      maximum: 2099
    submitDocParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceAll
      - recipientAddressSource
    submitSinglePdfAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
    submitSinglePdfSplitParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsWithAddress:
          $ref: '#/components/schemas/pdfSplitJobsWithAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
    submitSinglePdfSplitAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsNoAddress:
          $ref: '#/components/schemas/pdfSplitJobsNoAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
    submitMultiDocMergeParams:
      type: object
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          $ref: '#/components/schemas/mergeDocumentSource'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - mergeDocumentSource
      - recipientAddressSource
    submitMultiZipParams:
      type: object
      properties:
        docSourceZipFileRef:
          $ref: '#/components/schemas/docSourceZipFileRef'
        multiZipJobs:
          $ref: '#/components/schemas/multiZipJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceZipFileRef
      - multiZipJobs
    submitMultiZipAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: '#/components/schemas/zipDocumentSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - zipDocumentSource
    jobTemplate:
      type: string
    returnAddress:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    jobOptions:
      type: object
      properties:
        documentClass:
          type: string
          enum:
          - letter
          - postcard
          - brochure
          - flat
        layout:
          type: string
          enum:
          - address_on_first_page
          - address_on_back_page
        productionTime:
          type: string
          enum:
          - next_day
          - two_day
          - three_day
          - standard
          - same_day
        envelope:
          type: string
          enum:
          - standard
          - none
          - flat
          - double_window
        color:
          type: string
          enum:
          - full_color
          - black_and_white
        paperType:
          type: string
          enum:
          - white
          - white_24
          - ivory
          - glossy
        printOption:
          type: string
          enum:
          - double_sided
          - single_sided
        mailClass:
          type: string
          enum:
          - first_class
          - standard
          - non_profit
      required:
      - documentClass
      - layout
      - productionTime
      - envelope
      - color
      - paperType
      - printOption
      - mailClass
    documentClass:
      type: string
      enum:
      - letter
      - postcard
      - brochure
      - flat
    layout:
      type: string
      enum:
      - address_on_first_page
      - address_on_back_page
    productionTime:
      type: string
      enum:
      - next_day
      - two_day
      - three_day
      - standard
      - same_day
    envelope:
      type: string
      enum:
      - standard
      - none
      - flat
      - double_window
    color:
      type: string
      enum:
      - full_color
      - black_and_white
    paperType:
      type: string
      enum:
      - white
      - white_24
      - ivory
      - glossy
    printOption:
      type: string
      enum:
      - double_sided
      - single_sided
    mailClass:
      type: string
      enum:
      - first_class
      - standard
      - non_profit
    tags:
      $ref: '#/components/schemas/tagsList'
    tagsList:
      type: array
      items:
        type: string
    firstName:
      type: string
    lastName:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    recipientAddressSource:
      oneOf:
      - $ref: '#/components/schemas/singleAddress'
      - $ref: '#/components/schemas/recipientAddressByList'
      - $ref: '#/components/schemas/recipientAddressByAddressId'
      - $ref: '#/components/schemas/recipientAddressByListId'
    singleAddress:
      $ref: '#/components/schemas/address'
    recipientAddressByList:
      type: object
      properties:
        mappingId:
          type: integer
        addressList:
          $ref: '#/components/schemas/addressList'
        addressListName:
          type: string
      required:
      - addressList
    recipientAddressByListId:
      $ref: '#/components/schemas/addressListId'
    recipientAddressByAddressId:
      $ref: '#/components/schemas/addressId'
    mappingId:
      $ref: '#/components/schemas/id'
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: '#/components/schemas/id'
    addressId:
      $ref: '#/components/schemas/id'
    addressList:
      type: array
      items:
        $ref: '#/components/schemas/address'
    documentIdSource:
      $ref: '#/components/schemas/documentId'
    documentId:
      $ref: '#/components/schemas/id'
    requestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    requestId:
      $ref: '#/components/schemas/id'
    filename:
      type: string
    urlSource:
      $ref: '#/components/schemas/url'
    url:
      type: string
    zipDocumentIdSource:
      type: object
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - zipDocumentId
      - filename
    zipDocumentId:
      $ref: '#/components/schemas/id'
    zipRequestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - requestId
      - zipFilename
      - filename
    zipFilename:
      type: string
    zipDocumentIdOnly:
      $ref: '#/components/schemas/zipDocumentId'
    zipRequestIdOnly:
      $ref: '#/components/schemas/requestId'
    zipDocumentSource:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceStandard:
      oneOf:
      - $ref: '#/components/schemas/documentIdSource'
      - $ref: '#/components/schemas/requestIdSource'
      - $ref: '#/components/schemas/urlSource'
    docSourceZipFile:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdSource'
      - $ref: '#/components/schemas/zipRequestIdSource'
    docSourceZipFileRef:
      oneOf:
      - $ref: '#/components/schemas/zipDocumentIdOnly'
      - $ref: '#/components/schemas/zipRequestIdOnly'
    docSourceAll:
      oneOf:
      - $ref: '#/components/schemas/docSourceStandard'
      - $ref: '#/components/schemas/docSourceZipFile'
    mergeDocumentSource:
      $ref: '#/components/schemas/documentsToMerge'
    documentsToMerge:
      type: array
      items:
        $ref: '#/components/schemas/mergeDocumentRef'
    mergeDocumentRef:
      oneOf:
      - $ref: '#/components/schemas/mergeByDocumentId'
      - $ref: '#/components/schemas/mergeByRequestId'
    mergeByDocumentId:
      $ref: '#/components/schemas/documentId'
    mergeByRequestId:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    multiDocJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiDocJobItem'
    multiDocJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - docSourceAll
      - recipientAddressSource
    pdfSplitJobsWithAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemWithAddress'
    pdfSplitJobsNoAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemNoAddress'
    pdfSplitJobItemWithAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - startPage
      - endPage
      - recipientAddressSource
    pdfSplitJobItemNoAddress:
      type: object
      properties:
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - startPage
      - endPage
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiZipJobItem'
    multiZipJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - filename
      - recipientAddressSource
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: '#/components/schemas/creditCardPayment'
      - $ref: '#/components/schemas/invoicePayment'
      - $ref: '#/components/schemas/achPayment'
      - $ref: '#/components/schemas/userCreditPayment'
    creditCardPayment:
      type: object
      properties:
        creditCardDetails:
          $ref: '#/components/schemas/creditCardDetails'
      required:
      - creditCardDetails
    invoicePayment:
      type: object
      properties:
        invoiceDetails:
          $ref: '#/components/schemas/invoiceDetails'
      required:
      - invoiceDetails
    achPayment:
      type: object
      properties:
        achDetails:
          $ref: '#/components/schemas/achDetails'
      required:
      - achDetails
    userCreditPayment:
      type: object
      properties:
        creditAmount:
          $ref: '#/components/schemas/creditAmount'
      required:
      - creditAmount
    creditCardDetails:
      type: object
      properties:
        cardType:
          type: string
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
        cardNumber:
          type: string
        expirationDate:
          $ref: '#/components/schemas/expirationDate'
        cvv:
          type: integer
      required:
      - cardType
      - cardNumber
      - expirationDate
      - cvv
    invoiceDetails:
      type: object
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - invoiceNumber
      - amountDue
    achDetails:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - routingNumber
      - accountNumber
      - checkDigit
    creditAmount:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
      required:
      - amount
      - currency
    currency:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      type: object
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      type: string
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
    standardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - status
      - message
      - requestId
    status:
      type: string
    message:
      type: string
    errorResponse:
      type: object
      properties:
        errorType:
          type: string
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - RateLimitError
          - ServerError
        errorMessage:
          type: string
        errorCode:
          type: string
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
          - RATE_LIMIT_EXCEEDED
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorType
      - errorMessage
      - errorCode
    errorType:
      type: string
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - RateLimitError
      - ServerError
    errorMessage:
      type: string
    errorCode:
      type: string
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
      - RATE_LIMIT_EXCEEDED
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: '#/components/schemas/errorResponse'
    HTTP_401_UNAUTHORIZED:
      $ref: '#/components/schemas/errorResponse'
    HTTP_403_FORBIDDEN:
      $ref: '#/components/schemas/errorResponse'
    HTTP_404_NOT_FOUND:
      $ref: '#/components/schemas/errorResponse'
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: '#/components/schemas/errorResponse'
    HTTP_429_TOO_MANY_REQUESTS:
      $ref: '#/components/schemas/errorResponse'
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: '#/components/schemas/errorResponse'
    ShortTokenRequest:
      type: object
      properties:
        long_token:
          type: string
          description: Optional if the long-term token is provided in Authorization header
        scopes:
          type: array
          items:
            type: string
          description: Optional scope narrowing; defaults to the long-term token's scopes
      additionalProperties: false
    ShortTokenResponse:
      type: object
      required:
      - token_type
      - access_token
      - expires_in
      - expires_at
      properties:
        token_type:
          type: string
          enum:
          - Bearer
        access_token:
          type: string
          description: Short-lived JWT
        expires_in:
          type: integer
          description: Lifetime in seconds (e.g., 900 for 15 minutes)
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of expiration
        scopes:
          type: array
          items:
            type: string
          description: Granted scopes
        token_id:
          type: string
          description: Server-issued identifier for this token
    LongTokenRequest:
      type: object
      description: One of several credential mechanisms must be provided.
      required:
      - grant_type
      - client_id
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
          - assertion
          description: The authentication grant type
        client_id:
          type: string
          description: Client identifier issued by Click2Mail
        client_secret:
          type: string
          description: Required if using client_credentials with secret
        otp_code:
          type: string
          description: Required if your policy mandates OTP for issuance
        assertion_type:
          type: string
          description: Required when grant_type=assertion
        assertion:
          type: string
          description: Signed JWT or other accepted assertion
        scopes:
          type: array
          items:
            type: string
          description: Scopes to assign to the long-term token
        ttl_seconds:
          type: integer
          minimum: 3600
          maximum: 7776000
          description: Requested lifetime (1 hour - 90 days). Server may clamp.
      additionalProperties: false
    LongTokenResponse:
      type: object
      required:
      - token_type
      - access_token
      - expires_in
      - expires_at
      properties:
        token_type:
          type: string
          enum:
          - Bearer
        access_token:
          type: string
          description: Long-lived token (opaque or JWT depending on deployment)
        expires_in:
          type: integer
          description: Lifetime in seconds
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of expiration
        scopes:
          type: array
          items:
            type: string
          description: Granted scopes
        token_id:
          type: string
          description: Server-issued identifier for this token
    AuthError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: invalid_grant
          description: OAuth-style error code
        message:
          type: string
          example: The provided client credentials are invalid.
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    LongTokenAuth:
      type: oauth2
      description: Long-term JWT for exchanging to short-term tokens
      flows:
        clientCredentials:
          tokenUrl: /auth/tokens/long
          scopes:
            tokens:write: Create new long-term tokens
            tokens:revoke: Revoke existing tokens
    ShortTokenAuth:
      type: oauth2
      description: Short-term JWT for API operations
      flows:
        clientCredentials:
          tokenUrl: /auth/tokens/short
          scopes:
            tokens:write: Create new long-term tokens
            tokens:revoke: Revoke existing tokens
    ClientKey:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client identifier for additional security
  responses:
    Error400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            invalidGrant:
              value:
                code: invalid_grant
                message: The grant type is not supported
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            invalidToken:
              value:
                code: invalid_token
                message: The provided token is expired or invalid
    Error403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            insufficientScope:
              value:
                code: insufficient_scope
                message: The token lacks the required scope for this operation
    Error404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            notFound:
              value:
                code: not_found
                message: The requested resource was not found
    Error429:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthError'
          examples:
            rateLimited:
              value:
                code: rate_limited
                message: Too many requests. Please retry after 60 seconds.
security:
- bearerAuth: []
paths:
  /static:
    post:
      tags:
      - jobs
      summary: Submit single document
      description: Submits a mailing job for a single document to one or more recipients. The request body must include a document source, recipient address information, and payment details.
      operationId: submitDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceAll", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-NQKM0R
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceAll", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-WDR8QH
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-DP1217
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-7IZ84R
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-AGECCN
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-233F0K
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-FR3LIW
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-FCEKD9
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-760P48
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-S1EF67
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceAll", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-9F84BI
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-JQX8BK
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceAll", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-DY6L0Y
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-PKIID8
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-GBX1KB
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-RUZZTI
  /static/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit single document \u2014 address capture"
      description: Submits a mailing job for a single PDF where recipient addresses are captured from the document via OCR. No inline recipient address is required.
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-RWI6WN
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-SFAYBI
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-2X04R5
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-7WUVIQ
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-MYNHJZ
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-2GYM7I
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-8ZLS6C
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-Z75TAS
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-C00PS9
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-UI3R4M
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-K40GKA
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-0PO5RW
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-WD388Y
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-SNT7TG
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-CFIU1Y
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-JDNR7P
  /batch/split:
    post:
      tags:
      - jobs
      summary: Submit PDF split
      description: Splits a single PDF into page ranges and mails each range to a different recipient. Each job item specifies page range and recipient address.
      operationId: submitSinglePdfSplitParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-WR9LUX
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-5A0I8C
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-65AMJH
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-AB4COH
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-K88RCU
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-Z0NUVN
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-A41FO3
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-4OG8LM
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-3Z1UB3
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-V6474U
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-80M45H
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-CHMBMJ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsWithAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-V5PP13
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-BF2EGM
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-C9L1CA
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-KQRA2Q
  /batch/split/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit PDF split \u2014 address capture"
      description: Splits a single PDF into page ranges where recipient addresses are captured from the PDF. No inline recipient addresses are required.
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-3JYQZ2
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-Z213IN
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-GRGL6V
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-I17GY4
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-6I8VGR
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-BE32FM
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-EP00PM
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-8CAZTP
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-XOKVLI
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-1DUFOT
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-1RETYB
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-EOL0FL
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsNoAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-HJYF5D
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-PLCTJP
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-BHBPKM
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-MTF2TB
  /mail-merge:
    post:
      tags:
      - jobs
      summary: Submit mail merge
      description: Merges multiple documents into a single mailing sent to one recipient. Useful for creating document packets or multi-page letters.
      operationId: submitMultiDocMergeParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocMergeParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "mergeDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-1XUYM1
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "mergeDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-YOCUGQ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-XNOQIS
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-ACNDVS
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-E1H1K7
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-H1C6HQ
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-UW4JMQ
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-G9ZBKZ
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-HLGQ7C
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-SSM1B1
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "mergeDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-HRN5NB
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-CWDY6K
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "mergeDocumentSource", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-MUS2D9
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-0N0N4X
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-QBLTCI
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-35OFL5
  /batch/zip:
    post:
      tags:
      - jobs
      summary: Submit ZIP batch
      description: Submits multiple mailing jobs sourced from files inside a single ZIP archive. Each job item specifies which file within the ZIP and the recipient address.
      operationId: submitMultiZipParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceZipFileRef", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-8SQ6R5
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceZipFileRef", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-B1RARI
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-V04DFM
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-H2YTV6
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-0831J2
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-D3NP35
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-DLZQGB
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-2XG1Z7
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-A3SEBH
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-E0VYHQ
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceZipFileRef", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-AQHH0M
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-GFOXD3
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceZipFileRef", "issue": "not found in document library"}, {"field": "recipientAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-CG3BD7
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-BAOXBG
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-N02XYK
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-YQIQZT
  /batch/zip/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit ZIP batch \u2014 address capture"
      description: Submits a ZIP-based mailing batch where recipient addresses are captured externally. No inline recipient addresses are required.
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "zipDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260912-MBV1K1
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "zipDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260912-VCLVSO
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260912-3AHG02
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260912-02XPLN
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260912-MF8ARI
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-12T13:05:34Z", "currentTime": "2026-09-12T14:05:34Z"}'
                    errorTrackingId: TRK-20260912-A2EP2U
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260912-A6ACI7
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260912-8ZFBAK
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260912-HX2LCJ
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260912-PX936G
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "zipDocumentSource", "value": "invalid_value", "allowedValues": ["pdf", "doc", "docx"]}'
                    errorTrackingId: TRK-20260912-G9X20L
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260912-2NTSV2
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "zipDocumentSource", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260912-6H323D
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260912-CKBSCF
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260912-1H9YKR
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260912-2ZWPRM
  /auth/tokens/short:
    post:
      tags:
      - auth
      operationId: issueShortTermToken
      summary: Issue a short-term access token
      description: 'Exchange a valid long-term token for a short-lived JWT (e.g., 15 minutes).

        The long-term token must be sent in the Authorization header as `Bearer <long_token>`.

        '
      security:
      - LongTokenAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShortTokenRequest'
            examples:
              withScopes:
                value:
                  scopes:
                  - jobs:submit
                  - templates:read
      responses:
        '201':
          description: Short-term token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortTokenResponse'
              examples:
                success:
                  value:
                    token_type: Bearer
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    expires_in: 900
                    expires_at: '2025-08-26T22:45:00Z'
                    scopes:
                    - jobs:submit
                    - templates:read
                    token_id: tok_st_9f3d2c
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
  /auth/tokens/long:
    post:
      tags:
      - auth
      operationId: issueLongTermToken
      summary: Issue or rotate a long-term token
      description: 'Issues a long-term token (e.g., 30-90 days) for automation or server-to-server use.

        Requires step-up authentication. Choose one of the supported grant types:


        - `client_credentials` + `client_secret`

        - `client_credentials` + one-time `otp_code`

        - `assertion` (e.g., signed JWT by your private key)

        - Or an existing short-term token with the `tokens:write` scope


        Only one mechanism is required per call.

        '
      security:
      - ShortTokenAuth:
        - tokens:write
      - ClientKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LongTokenRequest'
            examples:
              clientSecret:
                value:
                  grant_type: client_credentials
                  client_id: c2m_abc123
                  client_secret: supersecret123
                  scopes:
                  - jobs:submit
                  - templates:read
                  ttl_seconds: 7776000
              otp:
                value:
                  grant_type: client_credentials
                  client_id: c2m_abc123
                  otp_code: '123456'
                  scopes:
                  - jobs:*
                  ttl_seconds: 2592000
              assertion:
                value:
                  grant_type: assertion
                  client_id: c2m_abc123
                  assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                  assertion: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                  scopes:
                  - jobs:submit
                  - templates:read
      responses:
        '201':
          description: Long-term token issued
          headers:
            X-Token-Id:
              description: Server-generated identifier for revocation and audit
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTokenResponse'
              examples:
                success:
                  value:
                    token_type: Bearer
                    access_token: lt_0d51e9bd2f6449cf...
                    expires_in: 2592000
                    expires_at: '2025-09-25T22:45:00Z'
                    scopes:
                    - jobs:*
                    token_id: tok_lt_b8e0aa
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
  /auth/tokens/{tokenId}/revoke:
    post:
      tags:
      - auth
      operationId: revokeToken
      summary: Revoke a token
      description: Revokes a short- or long-term token by its `tokenId`. Idempotent.
      security:
      - ShortTokenAuth:
        - tokens:revoke
      - LongTokenAuth:
        - tokens:revoke
      parameters:
      - name: tokenId
        in: path
        required: true
        schema:
          type: string
        description: The token ID to revoke
      responses:
        '204':
          description: Revoked (idempotent)
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
