openapi: 3.0.3
info:
  title: C2M API v2
  version: 2.0.0
  description: API for submitting mailing jobs with various document routing options
  x-http-error-map:
    '400':
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    '401':
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    '403':
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    '404':
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    '422':
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    '429':
      errorType: RateLimitError
      errorCodes:
      - RATE_LIMIT_EXCEEDED
    '500':
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
  x-numeric-constraints:
    month:
      minimum: 1
      maximum: 12
    year:
      minimum: 2000
      maximum: 2099
    quantity:
      minimum: 1
  x-valid-combinations:
  - when_field: color
    when_value: black_and_white
    then_field: paperType
    then_values:
    - white
    - white_24
    - ivory
  - when_field: mailClass
    when_value: non_profit
    then_field: documentClass
    then_values:
    - letter
    - flat
  - when_field: envelope
    when_value: none
    then_field: layout
    then_values:
    - address_on_first_page
    - address_on_back_page
servers:
- url: https://api.click2mail.com/v2
  description: Production server
tags:
- name: jobs
  description: Job submission endpoints
components:
  schemas:
    month:
      type: integer
      minimum: 1
      maximum: 12
    year:
      type: integer
      minimum: 2000
      maximum: 2099
    submitDocParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceAll
      - recipientAddressSource
    submitSinglePdfAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
    submitSinglePdfSplitParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsWithAddress:
          $ref: '#/components/schemas/pdfSplitJobsWithAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
    submitSinglePdfSplitAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: '#/components/schemas/docSourceStandard'
        pdfSplitJobsNoAddress:
          $ref: '#/components/schemas/pdfSplitJobsNoAddress'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
    submitMultiDocMergeParams:
      type: object
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          $ref: '#/components/schemas/mergeDocumentSource'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - mergeDocumentSource
      - recipientAddressSource
    submitMultiZipParams:
      type: object
      properties:
        docSourceZipFileRef:
          $ref: '#/components/schemas/docSourceZipFileRef'
        multiZipJobs:
          $ref: '#/components/schemas/multiZipJobs'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - docSourceZipFileRef
      - multiZipJobs
    submitMultiZipAddressCaptureParams:
      type: object
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: '#/components/schemas/zipDocumentSource'
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        returnAddress:
          $ref: '#/components/schemas/returnAddress'
        jobOptions:
          $ref: '#/components/schemas/jobOptions'
        tags:
          $ref: '#/components/schemas/tags'
      required:
      - zipDocumentSource
    jobTemplate:
      type: string
    returnAddress:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    jobOptions:
      type: object
      properties:
        documentClass:
          type: string
          enum:
          - letter
          - postcard
          - brochure
          - flat
        layout:
          type: string
          enum:
          - address_on_first_page
          - address_on_back_page
        productionTime:
          type: string
          enum:
          - next_day
          - two_day
          - three_day
          - standard
          - same_day
        envelope:
          type: string
          enum:
          - standard
          - none
          - flat
          - double_window
        color:
          type: string
          enum:
          - full_color
          - black_and_white
        paperType:
          type: string
          enum:
          - white
          - white_24
          - ivory
          - glossy
        printOption:
          type: string
          enum:
          - double_sided
          - single_sided
        mailClass:
          type: string
          enum:
          - first_class
          - standard
          - non_profit
      required:
      - documentClass
      - layout
      - productionTime
      - envelope
      - color
      - paperType
      - printOption
      - mailClass
    documentClass:
      type: string
      enum:
      - letter
      - postcard
      - brochure
      - flat
    layout:
      type: string
      enum:
      - address_on_first_page
      - address_on_back_page
    productionTime:
      type: string
      enum:
      - next_day
      - two_day
      - three_day
      - standard
      - same_day
    envelope:
      type: string
      enum:
      - standard
      - none
      - flat
      - double_window
    color:
      type: string
      enum:
      - full_color
      - black_and_white
    paperType:
      type: string
      enum:
      - white
      - white_24
      - ivory
      - glossy
    printOption:
      type: string
      enum:
      - double_sided
      - single_sided
    mailClass:
      type: string
      enum:
      - first_class
      - standard
      - non_profit
    tags:
      $ref: '#/components/schemas/tagsList'
    tagsList:
      type: array
      items:
        type: string
    firstName:
      type: string
    lastName:
      type: string
    company:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - firstName
      - lastName
      - address1
      - city
      - state
      - zip
      - country
    recipientAddressSource:
      oneOf:
      - type: object
        properties:
          singleAddress:
            $ref: '#/components/schemas/singleAddress'
        required:
        - singleAddress
      - type: object
        properties:
          recipientAddressByList:
            $ref: '#/components/schemas/recipientAddressByList'
        required:
        - recipientAddressByList
      - type: object
        properties:
          recipientAddressByAddressId:
            $ref: '#/components/schemas/recipientAddressByAddressId'
        required:
        - recipientAddressByAddressId
      - type: object
        properties:
          recipientAddressByListId:
            $ref: '#/components/schemas/recipientAddressByListId'
        required:
        - recipientAddressByListId
    singleAddress:
      $ref: '#/components/schemas/address'
    recipientAddressByList:
      type: object
      properties:
        mappingId:
          type: integer
        addressList:
          $ref: '#/components/schemas/addressList'
        addressListName:
          type: string
      required:
      - addressList
    recipientAddressByListId:
      $ref: '#/components/schemas/addressListId'
    recipientAddressByAddressId:
      $ref: '#/components/schemas/addressId'
    mappingId:
      $ref: '#/components/schemas/id'
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: '#/components/schemas/id'
    addressId:
      $ref: '#/components/schemas/id'
    addressList:
      type: array
      items:
        $ref: '#/components/schemas/address'
    documentIdSource:
      type: object
      properties:
        documentId:
          type: integer
      required:
      - documentId
    documentId:
      $ref: '#/components/schemas/id'
    requestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    requestId:
      $ref: '#/components/schemas/id'
    filename:
      type: string
    urlSource:
      type: object
      properties:
        url:
          type: string
          format: uri
      required:
      - url
    url:
      type: string
    zipDocumentIdSource:
      type: object
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - zipDocumentId
      - filename
    zipDocumentId:
      $ref: '#/components/schemas/id'
    zipRequestIdSource:
      type: object
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - requestId
      - zipFilename
      - filename
    zipFilename:
      type: string
    zipDocumentIdOnly:
      type: object
      properties:
        zipDocumentId:
          type: integer
      required:
      - zipDocumentId
    zipRequestIdOnly:
      type: object
      properties:
        requestId:
          type: integer
      required:
      - requestId
    zipDocumentSource:
      oneOf:
      - type: object
        properties:
          zipDocumentIdSource:
            $ref: '#/components/schemas/zipDocumentIdSource'
        required:
        - zipDocumentIdSource
      - type: object
        properties:
          zipRequestIdSource:
            $ref: '#/components/schemas/zipRequestIdSource'
        required:
        - zipRequestIdSource
    docSourceStandard:
      oneOf:
      - type: object
        properties:
          documentIdSource:
            $ref: '#/components/schemas/documentIdSource'
        required:
        - documentIdSource
      - type: object
        properties:
          requestIdSource:
            $ref: '#/components/schemas/requestIdSource'
        required:
        - requestIdSource
      - type: object
        properties:
          urlSource:
            $ref: '#/components/schemas/urlSource'
        required:
        - urlSource
    docSourceZipFile:
      oneOf:
      - type: object
        properties:
          zipDocumentIdSource:
            $ref: '#/components/schemas/zipDocumentIdSource'
        required:
        - zipDocumentIdSource
      - type: object
        properties:
          zipRequestIdSource:
            $ref: '#/components/schemas/zipRequestIdSource'
        required:
        - zipRequestIdSource
    docSourceZipFileRef:
      oneOf:
      - type: object
        properties:
          zipDocumentIdOnly:
            $ref: '#/components/schemas/zipDocumentIdOnly'
        required:
        - zipDocumentIdOnly
      - type: object
        properties:
          zipRequestIdOnly:
            $ref: '#/components/schemas/zipRequestIdOnly'
        required:
        - zipRequestIdOnly
    docSourceAll:
      oneOf:
      - type: object
        properties:
          documentIdSource:
            $ref: '#/components/schemas/documentIdSource'
        required:
        - documentIdSource
      - type: object
        properties:
          requestIdSource:
            $ref: '#/components/schemas/requestIdSource'
        required:
        - requestIdSource
      - type: object
        properties:
          urlSource:
            $ref: '#/components/schemas/urlSource'
        required:
        - urlSource
      - type: object
        properties:
          zipDocumentIdSource:
            $ref: '#/components/schemas/zipDocumentIdSource'
        required:
        - zipDocumentIdSource
      - type: object
        properties:
          zipRequestIdSource:
            $ref: '#/components/schemas/zipRequestIdSource'
        required:
        - zipRequestIdSource
    mergeDocumentSource:
      $ref: '#/components/schemas/documentsToMerge'
    documentsToMerge:
      type: array
      items:
        $ref: '#/components/schemas/mergeDocumentRef'
    mergeDocumentRef:
      oneOf:
      - type: object
        properties:
          mergeByDocumentId:
            $ref: '#/components/schemas/mergeByDocumentId'
        required:
        - mergeByDocumentId
      - type: object
        properties:
          mergeByRequestId:
            $ref: '#/components/schemas/mergeByRequestId'
        required:
        - mergeByRequestId
    mergeByDocumentId:
      type: object
      properties:
        documentId:
          type: integer
      required:
      - documentId
    mergeByRequestId:
      type: object
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
    multiDocJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiDocJobItem'
    multiDocJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: '#/components/schemas/docSourceAll'
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - docSourceAll
      - recipientAddressSource
    pdfSplitJobsWithAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemWithAddress'
    pdfSplitJobsNoAddress:
      type: array
      items:
        $ref: '#/components/schemas/pdfSplitJobItemNoAddress'
    pdfSplitJobItemWithAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - startPage
      - endPage
      - recipientAddressSource
    pdfSplitJobItemNoAddress:
      type: object
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - startPage
      - endPage
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      type: array
      items:
        $ref: '#/components/schemas/multiZipJobItem'
    multiZipJobItem:
      type: object
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: '#/components/schemas/recipientAddressSource'
      required:
      - filename
      - recipientAddressSource
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: '#/components/schemas/creditCardPayment'
      - $ref: '#/components/schemas/invoicePayment'
      - $ref: '#/components/schemas/achPayment'
      - $ref: '#/components/schemas/userCreditPayment'
    creditCardPayment:
      type: object
      properties:
        creditCardDetails:
          $ref: '#/components/schemas/creditCardDetails'
      required:
      - creditCardDetails
    invoicePayment:
      type: object
      properties:
        invoiceDetails:
          $ref: '#/components/schemas/invoiceDetails'
      required:
      - invoiceDetails
    achPayment:
      type: object
      properties:
        achDetails:
          $ref: '#/components/schemas/achDetails'
      required:
      - achDetails
    userCreditPayment:
      type: object
      properties:
        creditAmount:
          $ref: '#/components/schemas/creditAmount'
      required:
      - creditAmount
    creditCardDetails:
      type: object
      properties:
        cardType:
          type: string
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
        cardNumber:
          type: string
        expirationDate:
          $ref: '#/components/schemas/expirationDate'
        cvv:
          type: integer
      required:
      - cardType
      - cardNumber
      - expirationDate
      - cvv
    invoiceDetails:
      type: object
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - invoiceNumber
      - amountDue
    achDetails:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - routingNumber
      - accountNumber
      - checkDigit
    creditAmount:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
      required:
      - amount
      - currency
    currency:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      type: object
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      type: string
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
    standardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - status
      - message
      - requestId
    status:
      type: string
    message:
      type: string
    errorResponse:
      type: object
      properties:
        errorType:
          type: string
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - RateLimitError
          - ServerError
        errorMessage:
          type: string
        errorCode:
          type: string
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
          - RATE_LIMIT_EXCEEDED
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorType
      - errorMessage
      - errorCode
    errorType:
      type: string
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - RateLimitError
      - ServerError
    errorMessage:
      type: string
    errorCode:
      type: string
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
      - RATE_LIMIT_EXCEEDED
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: '#/components/schemas/errorResponse'
    HTTP_401_UNAUTHORIZED:
      $ref: '#/components/schemas/errorResponse'
    HTTP_403_FORBIDDEN:
      $ref: '#/components/schemas/errorResponse'
    HTTP_404_NOT_FOUND:
      $ref: '#/components/schemas/errorResponse'
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: '#/components/schemas/errorResponse'
    HTTP_429_TOO_MANY_REQUESTS:
      $ref: '#/components/schemas/errorResponse'
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: '#/components/schemas/errorResponse'
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- bearerAuth: []
paths:
  /static:
    post:
      tags:
      - jobs
      summary: Submit single document
      description: Submits a mailing job for a single document to one or more recipients. The request body must include a document source, recipient address information, and payment details.
      operationId: submitDocParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitDocParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceAll", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-Q2GDLE
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceAll", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-ELESLB
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-A3QC5Q
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-N26QLH
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-2GMPMR
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-LOJVJY
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-Z9XEWV
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-FK1CE8
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-YJM7ZQ
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-9GZ4H8
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceAll", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-YEC6EK
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-F2A3HX
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceAll", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-JQRPPJ
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-9JTBYQ
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-A6GSS3
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-8PLTL2
  /static/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit single document \u2014 address capture"
      description: Submits a mailing job for a single PDF where recipient addresses are captured from the document via OCR. No inline recipient address is required.
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-FHLRUH
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-F0M9O3
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-MOHD4V
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-YU6KLW
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-1LMV6R
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-AD7I3T
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-A302IK
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-1R51N5
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-OVJ9L0
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-J8D5JO
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-H2BPZ5
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-WE7E3Y
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-WAKC9E
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-PZ5NXP
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-YWV0EH
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-SKP7XO
  /batch/split:
    post:
      tags:
      - jobs
      summary: Submit PDF split
      description: Splits a single PDF into page ranges and mails each range to a different recipient. Each job item specifies page range and recipient address.
      operationId: submitSinglePdfSplitParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-ZLEK5H
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-85KEOK
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-X4IL5S
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-RVUJ6Y
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-W07PBU
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-ONTF7K
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-SFDO3R
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-O6OOOF
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-NJFWRA
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-O7838P
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-TD896X
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-Q0BAO9
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsWithAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-FO5V5Y
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-9HG26K
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-BG6LCK
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-IBM4I0
  /batch/split/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit PDF split \u2014 address capture"
      description: Splits a single PDF into page ranges where recipient addresses are captured from the PDF. No inline recipient addresses are required.
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitSinglePdfSplitAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceStandard", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-3UV119
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceStandard", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-XX50V9
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-0XIKKN
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-FVN92C
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-Q2RUUG
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-UNK5TS
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-WNOOAQ
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-UKYN64
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-86PBKU
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-S4R1TG
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceStandard", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-YI1GK6
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-UAGGYT
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceStandard", "issue": "not found in document library"}, {"field": "pdfSplitJobsNoAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-UET0VV
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-Y01HAQ
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-55O0B4
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-A9IVWM
  /mail-merge:
    post:
      tags:
      - jobs
      summary: Submit mail merge
      description: Merges multiple documents into a single mailing sent to one recipient. Useful for creating document packets or multi-page letters.
      operationId: submitMultiDocMergeParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiDocMergeParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "mergeDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-5PGNEC
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "mergeDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-NHOY0N
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-8ME9PJ
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-PKDWJY
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-3BV0P4
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-VFEO3J
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-0DR1UO
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-DZ7LTW
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-JN3R3K
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-RF7W2N
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "mergeDocumentSource", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-I3NT9E
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-U3DL5V
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "mergeDocumentSource", "issue": "not found in document library"}, {"field": "recipientAddressSource.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-LX36NV
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-NKZUEQ
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-ZZ4YM7
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-VJH35K
  /batch/zip:
    post:
      tags:
      - jobs
      summary: Submit ZIP batch
      description: Submits multiple mailing jobs sourced from files inside a single ZIP archive. Each job item specifies which file within the ZIP and the recipient address.
      operationId: submitMultiZipParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "docSourceZipFileRef", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-VN0OOP
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "docSourceZipFileRef", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-YETTQA
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-CVHBZD
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-VDCW0C
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-XNO6L7
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-FWOA07
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-VANV9P
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-KCQR3P
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-MN1HPA
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-FK59G4
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "docSourceZipFileRef", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-GLCJ1R
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-VWNRUR
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "docSourceZipFileRef", "issue": "not found in document library"}, {"field": "recipientAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-7YAIDB
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-XLGWG6
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-C45OPU
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-MAN3MV
  /batch/zip/address-capture:
    post:
      tags:
      - jobs
      summary: "Submit ZIP batch \u2014 address capture"
      description: Submits a ZIP-based mailing batch where recipient addresses are captured externally. No inline recipient addresses are required.
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitMultiZipAddressCaptureParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '400':
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: '{"field": "zipDocumentSource", "location": "requestBody"}'
                    errorTrackingId: TRK-20260918-KZ0017
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: '{"field": "zipDocumentSource", "issue": "exactly one variant must be provided"}'
                    errorTrackingId: TRK-20260918-NJRRM8
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: '{"error": "unexpected token at position 42"}'
                    errorTrackingId: TRK-20260918-HR66ZC
        '401':
          description: Unauthorized - Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: '{"expected": "Bearer <token>", "received": "none"}'
                    errorTrackingId: TRK-20260918-8P5MZJ
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: '{"issue": "token signature verification failed"}'
                    errorTrackingId: TRK-20260918-8H88N1
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: '{"expiresAt": "2026-09-18T18:36:30Z", "currentTime": "2026-09-18T19:36:30Z"}'
                    errorTrackingId: TRK-20260918-0VUSY8
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: '{"required": "jobs:write", "provided": "jobs:read"}'
                    errorTrackingId: TRK-20260918-097RAB
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: '{"reason": "billing overdue", "contactSupport": "support@click2mail.com"}'
                    errorTrackingId: TRK-20260918-06IRE9
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: '{"jobId": "JOB-12345"}'
                    errorTrackingId: TRK-20260918-4Q5T0C
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: '{"resourceType": "document", "resourceId": "DOC-67890"}'
                    errorTrackingId: TRK-20260918-LEJA9R
        '422':
          description: Unprocessable Entity - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: '{"field": "zipDocumentSource", "value": "invalid_value", "allowedValues": ["letter", "postcard", "brochure", "flat"]}'
                    errorTrackingId: TRK-20260918-C8C1G7
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: '{"fields": ["jobTemplate", "jobOptions"], "issue": "only one may be provided"}'
                    errorTrackingId: TRK-20260918-IMZAQZ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: '{"errors": [{"field": "zipDocumentSource", "issue": "not found in document library"}, {"field": "returnAddress.postalCode", "issue": "invalid format - must be 5 or 9 digits"}]}'
                    errorTrackingId: TRK-20260918-G3Z10H
        '500':
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: '{"message": "An unexpected error occurred"}'
                    errorTrackingId: TRK-20260918-RM08NW
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: '{"operation": "insert", "table": "jobs"}'
                    errorTrackingId: TRK-20260918-OA0H9M
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: '{"service": "payment-gateway", "status": "timeout"}'
                    errorTrackingId: TRK-20260918-XTGKJY
