openapi: 3.0.3
info:
  description: API for submitting mailing jobs with various document routing options
  title: C2M API v2
  version: 2.0.0
  x-http-error-map:
    "400":
      errorType: ValidationError
      errorCodes:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
    "401":
      errorType: AuthenticationError
      errorCodes:
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
    "403":
      errorType: AuthorizationError
      errorCodes:
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
    "404":
      errorType: ResourceNotFoundError
      errorCodes:
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
    "422":
      errorType: ValidationError
      errorCodes:
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
    "429":
      errorType: RateLimitError
      errorCodes:
      - RATE_LIMIT_EXCEEDED
    "500":
      errorType: ServerError
      errorCodes:
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
servers:
- description: Production server
  url: https://api.click2mail.com/v2
security:
- bearerAuth: []
tags:
- description: Job submission endpoints
  name: jobs
- description: Authentication and token management endpoints
  name: auth
paths:
  /static:
    post:
      description: "Submits a mailing job for a single document to one or more recipients.\
        \ The request body must include a document source, recipient address information,\
        \ and payment details."
      operationId: submitDocParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitDocParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceAll\", \"location\": \"\
                      requestBody\"}"
                    errorTrackingId: TRK-20260912-CX1O83
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceAll\", \"issue\": \"exactly\
                      \ one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-2VGP3X
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-GPKSYA
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-2QBOPD
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-CC9Q9N
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-8SOOHB
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-W5FHSL
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-CIPZR2
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-RURP57
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-4Z0KV9
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceAll\", \"value\": \"invalid_value\"\
                      , \"allowedValues\": [\"pdf\", \"doc\", \"docx\"]}"
                    errorTrackingId: TRK-20260912-PQ8EPZ
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-AKA9S3
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceAll\", \"\
                      issue\": \"not found in document library\"}, {\"field\": \"\
                      recipientAddressSource.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-4YH4M5
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-0831U4
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-XV01JN
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-YJKJNE
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit single document
      tags:
      - jobs
  /static/address-capture:
    post:
      description: Submits a mailing job for a single PDF where recipient addresses
        are captured from the document via OCR. No inline recipient address is required.
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSinglePdfAddressCaptureParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceStandard\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260912-9ETYAJ
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceStandard\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-X4B9P9
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-EC8C7P
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-45LX7H
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-FCBFQS
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-GD288B
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-G5ZSYP
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-V4DQT0
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-BG5TEZ
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-KYJL39
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceStandard\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260912-PXE9T8
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-OI8GL4
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceStandard\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"returnAddress.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-B4YSBR
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-L52DFR
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-EK7SAU
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-GGEZJ0
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit single document — address capture
      tags:
      - jobs
  /batch/split:
    post:
      description: Splits a single PDF into page ranges and mails each range to a
        different recipient. Each job item specifies page range and recipient address.
      operationId: submitSinglePdfSplitParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSinglePdfSplitParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceStandard\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260912-6RCAM5
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceStandard\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-MI9442
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-1KASR5
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-Y9KQJM
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-9W3MZ7
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-WDC2NE
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-X27JED
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-AOP4UW
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-39FN9R
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-PSCSE4
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceStandard\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260912-RO5TDP
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-9IGQIN
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceStandard\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"pdfSplitJobsWithAddress.postalCode\", \"issue\": \"invalid\
                      \ format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-3D33YT
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-VIMJQW
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-YWZ030
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-AN8OTG
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit PDF split
      tags:
      - jobs
  /batch/split/address-capture:
    post:
      description: Splits a single PDF into page ranges where recipient addresses
        are captured from the PDF. No inline recipient addresses are required.
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSinglePdfSplitAddressCaptureParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceStandard\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260912-14GZNW
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceStandard\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-SOD7SA
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-W5SSRS
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-LDV52A
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-CC2TD6
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-76INVD
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-IGE461
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-O5UBED
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-RAHCC0
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-NA45HH
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceStandard\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260912-VD3SZA
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-3JG927
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceStandard\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"pdfSplitJobsNoAddress.postalCode\", \"issue\": \"invalid\
                      \ format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-EXDH3G
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-IROS15
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-5XPRFU
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-LGY2OL
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit PDF split — address capture
      tags:
      - jobs
  /mail-merge:
    post:
      description: Merges multiple documents into a single mailing sent to one recipient.
        Useful for creating document packets or multi-page letters.
      operationId: submitMultiDocMergeParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiDocMergeParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"mergeDocumentSource\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260912-9PDNJL
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"mergeDocumentSource\", \"issue\"\
                      : \"exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-52LGJB
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-FKF08G
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-QKC8F0
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-XSPLBV
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-Q92K2J
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-T9QPB3
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-RVU80U
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-BJH3MQ
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-6WLPYH
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"mergeDocumentSource\", \"value\"\
                      : \"invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"\
                      docx\"]}"
                    errorTrackingId: TRK-20260912-R9UJ1H
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-VCA57L
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"mergeDocumentSource\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"recipientAddressSource.postalCode\", \"issue\": \"invalid\
                      \ format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-IZ7PX4
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-E7QXFN
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-LGP7YC
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-5EPD9R
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit mail merge
      tags:
      - jobs
  /batch/zip:
    post:
      description: Submits multiple mailing jobs sourced from files inside a single
        ZIP archive. Each job item specifies which file within the ZIP and the recipient
        address.
      operationId: submitMultiZipParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiZipParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceZipFileRef\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260912-UJNL0K
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceZipFileRef\", \"issue\"\
                      : \"exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-9TX889
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-TPK4PR
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-NANBOL
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-RID3IQ
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-3CIP6B
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-1AAGDU
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-ZBONHZ
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-XOHB2E
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-D20WOY
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceZipFileRef\", \"value\"\
                      : \"invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"\
                      docx\"]}"
                    errorTrackingId: TRK-20260912-COIPDN
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-MIPDZ3
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceZipFileRef\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"recipientAddress.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-0OFEF3
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-MVQU0N
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-TZIB3S
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-L8J8CL
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit ZIP batch
      tags:
      - jobs
  /batch/zip/address-capture:
    post:
      description: Submits a ZIP-based mailing batch where recipient addresses are
        captured externally. No inline recipient addresses are required.
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiZipAddressCaptureParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"zipDocumentSource\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260912-8TC64F
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"zipDocumentSource\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260912-RM28B6
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260912-HXYKPT
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260912-60V3UH
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260912-XIJAO6
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260912-ZSDMNC
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260912-BTM931
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260912-Z4G713
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260912-MVO2BR
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260912-AR6OBN
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"zipDocumentSource\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260912-D4MSSY
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260912-BWD1Q9
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"zipDocumentSource\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"returnAddress.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260912-QLQAWA
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260912-4MHCNJ
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260912-DKPH6B
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260912-24662X
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit ZIP batch — address capture
      tags:
      - jobs
  /auth/tokens/short:
    post:
      description: |
        Exchange a valid long-term token for a short-lived JWT (e.g., 15 minutes).
        The long-term token must be sent in the Authorization header as `Bearer <long_token>`.
      operationId: issueShortTermToken
      requestBody:
        content:
          application/json:
            examples:
              withScopes:
                value:
                  scopes:
                  - jobs:submit
                  - templates:read
            schema:
              $ref: "#/components/schemas/ShortTokenRequest"
        required: false
      responses:
        "201":
          content:
            application/json:
              examples:
                success:
                  value:
                    token_type: Bearer
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    expires_in: 900
                    expires_at: 2025-08-26T22:45:00Z
                    scopes:
                    - jobs:submit
                    - templates:read
                    token_id: tok_st_9f3d2c
              schema:
                $ref: "#/components/schemas/ShortTokenResponse"
          description: Short-term token issued
        "400":
          content:
            application/json:
              examples:
                invalidGrant:
                  value:
                    code: invalid_grant
                    message: The grant type is not supported
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    code: invalid_token
                    message: The provided token is expired or invalid
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Unauthorized
        "429":
          content:
            application/json:
              examples:
                rateLimited:
                  value:
                    code: rate_limited
                    message: Too many requests. Please retry after 60 seconds.
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Too Many Requests
      security:
      - LongTokenAuth: []
      summary: Issue a short-term access token
      tags:
      - auth
  /auth/tokens/long:
    post:
      description: |
        Issues a long-term token (e.g., 30-90 days) for automation or server-to-server use.
        Requires step-up authentication. Choose one of the supported grant types:

        - `client_credentials` + `client_secret`
        - `client_credentials` + one-time `otp_code`
        - `assertion` (e.g., signed JWT by your private key)
        - Or an existing short-term token with the `tokens:write` scope

        Only one mechanism is required per call.
      operationId: issueLongTermToken
      requestBody:
        content:
          application/json:
            examples:
              clientSecret:
                value:
                  grant_type: client_credentials
                  client_id: c2m_abc123
                  client_secret: supersecret123
                  scopes:
                  - jobs:submit
                  - templates:read
                  ttl_seconds: 7776000
              otp:
                value:
                  grant_type: client_credentials
                  client_id: c2m_abc123
                  otp_code: "123456"
                  scopes:
                  - jobs:*
                  ttl_seconds: 2592000
              assertion:
                value:
                  grant_type: assertion
                  client_id: c2m_abc123
                  assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                  assertion: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                  scopes:
                  - jobs:submit
                  - templates:read
            schema:
              $ref: "#/components/schemas/LongTokenRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                success:
                  value:
                    token_type: Bearer
                    access_token: lt_0d51e9bd2f6449cf...
                    expires_in: 2592000
                    expires_at: 2025-09-25T22:45:00Z
                    scopes:
                    - jobs:*
                    token_id: tok_lt_b8e0aa
              schema:
                $ref: "#/components/schemas/LongTokenResponse"
          description: Long-term token issued
          headers:
            X-Token-Id:
              description: Server-generated identifier for revocation and audit
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                invalidGrant:
                  value:
                    code: invalid_grant
                    message: The grant type is not supported
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    code: invalid_token
                    message: The provided token is expired or invalid
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                insufficientScope:
                  value:
                    code: insufficient_scope
                    message: The token lacks the required scope for this operation
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                rateLimited:
                  value:
                    code: rate_limited
                    message: Too many requests. Please retry after 60 seconds.
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Too Many Requests
      security:
      - ShortTokenAuth:
        - tokens:write
      - ClientKey: []
      summary: Issue or rotate a long-term token
      tags:
      - auth
  /auth/tokens/{tokenId}/revoke:
    post:
      description: Revokes a short- or long-term token by its `tokenId`. Idempotent.
      operationId: revokeToken
      parameters:
      - description: The token ID to revoke
        explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Revoked (idempotent)
        "401":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    code: invalid_token
                    message: The provided token is expired or invalid
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                notFound:
                  value:
                    code: not_found
                    message: The requested resource was not found
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Not found
      security:
      - ShortTokenAuth:
        - tokens:revoke
      - LongTokenAuth:
        - tokens:revoke
      summary: Revoke a token
      tags:
      - auth
components:
  parameters:
    Authorization:
      explode: false
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        type: string
      style: simple
    Content-Type:
      explode: false
      in: header
      name: Content-Type
      required: true
      schema:
        example: application/json
        type: string
      style: simple
  responses:
    Error400:
      content:
        application/json:
          examples:
            invalidGrant:
              value:
                code: invalid_grant
                message: The grant type is not supported
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Bad request
    Error401:
      content:
        application/json:
          examples:
            invalidToken:
              value:
                code: invalid_token
                message: The provided token is expired or invalid
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Unauthorized
    Error403:
      content:
        application/json:
          examples:
            insufficientScope:
              value:
                code: insufficient_scope
                message: The token lacks the required scope for this operation
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Forbidden
    Error404:
      content:
        application/json:
          examples:
            notFound:
              value:
                code: not_found
                message: The requested resource was not found
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Not found
    Error429:
      content:
        application/json:
          examples:
            rateLimited:
              value:
                code: rate_limited
                message: Too many requests. Please retry after 60 seconds.
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Too Many Requests
  schemas:
    month:
      maximum: 12
      minimum: 1
      type: integer
    submitDocParams:
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: "#/components/schemas/docSourceAll"
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceAll
      - recipientAddressSource
      type: object
    submitSinglePdfAddressCaptureParams:
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: "#/components/schemas/docSourceStandard"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceStandard
      type: object
    submitSinglePdfSplitParams:
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: "#/components/schemas/docSourceStandard"
        pdfSplitJobsWithAddress:
          items:
            $ref: "#/components/schemas/pdfSplitJobItemWithAddress"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
      type: object
    submitSinglePdfSplitAddressCaptureParams:
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: "#/components/schemas/docSourceStandard"
        pdfSplitJobsNoAddress:
          items:
            $ref: "#/components/schemas/pdfSplitJobItemNoAddress"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
      type: object
    submitMultiDocMergeParams:
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          items:
            $ref: "#/components/schemas/mergeDocumentRef"
          type: array
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - mergeDocumentSource
      - recipientAddressSource
      type: object
    submitMultiZipParams:
      properties:
        docSourceZipFileRef:
          $ref: "#/components/schemas/docSourceZipFileRef"
        multiZipJobs:
          items:
            $ref: "#/components/schemas/multiZipJobItem"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceZipFileRef
      - multiZipJobs
      type: object
    submitMultiZipAddressCaptureParams:
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: "#/components/schemas/zipDocumentSource"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - zipDocumentSource
      type: object
    jobTemplate:
      type: string
    returnAddress:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - address1
      - city
      - country
      - firstName
      - lastName
      - state
      - zip
      type: object
    jobOptions:
      properties:
        documentClass:
          type: string
        layout:
          type: string
        productionTime:
          type: string
        envelope:
          type: string
        color:
          type: string
        paperType:
          type: string
        printOption:
          type: string
        mailClass:
          type: string
      required:
      - color
      - documentClass
      - envelope
      - layout
      - mailClass
      - paperType
      - printOption
      - productionTime
      type: object
    documentClass:
      type: string
    layout:
      type: string
    productionTime:
      type: string
    envelope:
      type: string
    color:
      type: string
    paperType:
      type: string
    printOption:
      type: string
    mailClass:
      type: string
    tags:
      $ref: "#/components/schemas/tagsList"
    tagsList:
      items:
        type: string
      type: array
    firstName:
      type: string
    lastName:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - address1
      - city
      - country
      - firstName
      - lastName
      - state
      - zip
      type: object
    recipientAddressSource:
      oneOf:
      - $ref: "#/components/schemas/singleAddress"
      - $ref: "#/components/schemas/recipientAddressByList"
      - $ref: "#/components/schemas/recipientAddressByAddressId"
      - $ref: "#/components/schemas/recipientAddressByListId"
    singleAddress:
      $ref: "#/components/schemas/address"
    recipientAddressByList:
      properties:
        mappingId:
          type: integer
        addressList:
          items:
            $ref: "#/components/schemas/address"
          type: array
        addressListName:
          type: string
      required:
      - addressList
      type: object
    recipientAddressByListId:
      $ref: "#/components/schemas/addressListId"
    recipientAddressByAddressId:
      $ref: "#/components/schemas/addressId"
    mappingId:
      $ref: "#/components/schemas/id"
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: "#/components/schemas/id"
    addressId:
      $ref: "#/components/schemas/id"
    addressList:
      items:
        $ref: "#/components/schemas/address"
      type: array
    documentIdSource:
      $ref: "#/components/schemas/documentId"
    documentId:
      $ref: "#/components/schemas/id"
    requestIdSource:
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
      type: object
    requestId:
      $ref: "#/components/schemas/id"
    filename:
      type: string
    urlSource:
      $ref: "#/components/schemas/url"
    url:
      type: string
    zipDocumentIdSource:
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - filename
      - zipDocumentId
      type: object
    zipDocumentId:
      $ref: "#/components/schemas/id"
    zipRequestIdSource:
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - filename
      - requestId
      - zipFilename
      type: object
    zipFilename:
      type: string
    zipDocumentIdOnly:
      $ref: "#/components/schemas/zipDocumentId"
    zipRequestIdOnly:
      $ref: "#/components/schemas/requestId"
    zipDocumentSource:
      oneOf:
      - $ref: "#/components/schemas/zipDocumentIdSource"
      - $ref: "#/components/schemas/zipRequestIdSource"
    docSourceStandard:
      oneOf:
      - $ref: "#/components/schemas/documentIdSource"
      - $ref: "#/components/schemas/requestIdSource"
      - $ref: "#/components/schemas/urlSource"
    docSourceZipFile:
      oneOf:
      - $ref: "#/components/schemas/zipDocumentIdSource"
      - $ref: "#/components/schemas/zipRequestIdSource"
    docSourceZipFileRef:
      oneOf:
      - $ref: "#/components/schemas/zipDocumentIdOnly"
      - $ref: "#/components/schemas/zipRequestIdOnly"
    docSourceAll:
      oneOf:
      - $ref: "#/components/schemas/docSourceStandard"
      - $ref: "#/components/schemas/docSourceZipFile"
    mergeDocumentSource:
      $ref: "#/components/schemas/documentsToMerge"
    documentsToMerge:
      items:
        $ref: "#/components/schemas/mergeDocumentRef"
      type: array
    mergeDocumentRef:
      oneOf:
      - $ref: "#/components/schemas/mergeByDocumentId"
      - $ref: "#/components/schemas/mergeByRequestId"
    mergeByDocumentId:
      $ref: "#/components/schemas/documentId"
    mergeByRequestId:
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
      type: object
    multiDocJobs:
      items:
        $ref: "#/components/schemas/multiDocJobItem"
      type: array
    multiDocJobItem:
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: "#/components/schemas/docSourceAll"
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
      required:
      - docSourceAll
      - recipientAddressSource
      type: object
    pdfSplitJobsWithAddress:
      items:
        $ref: "#/components/schemas/pdfSplitJobItemWithAddress"
      type: array
    pdfSplitJobsNoAddress:
      items:
        $ref: "#/components/schemas/pdfSplitJobItemNoAddress"
      type: array
    pdfSplitJobItemWithAddress:
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
      required:
      - endPage
      - recipientAddressSource
      - startPage
      type: object
    pdfSplitJobItemNoAddress:
      properties:
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - endPage
      - startPage
      type: object
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      items:
        $ref: "#/components/schemas/multiZipJobItem"
      type: array
    multiZipJobItem:
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
      required:
      - filename
      - recipientAddressSource
      type: object
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: "#/components/schemas/creditCardPayment"
      - $ref: "#/components/schemas/invoicePayment"
      - $ref: "#/components/schemas/achPayment"
      - $ref: "#/components/schemas/userCreditPayment"
    creditCardPayment:
      properties:
        creditCardDetails:
          $ref: "#/components/schemas/creditCardDetails"
      required:
      - creditCardDetails
      type: object
    invoicePayment:
      properties:
        invoiceDetails:
          $ref: "#/components/schemas/invoiceDetails"
      required:
      - invoiceDetails
      type: object
    achPayment:
      properties:
        achDetails:
          $ref: "#/components/schemas/achDetails"
      required:
      - achDetails
      type: object
    userCreditPayment:
      properties:
        creditAmount:
          $ref: "#/components/schemas/creditAmount"
      required:
      - creditAmount
      type: object
    creditCardDetails:
      properties:
        cardType:
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
          type: string
        cardNumber:
          type: string
        expirationDate:
          $ref: "#/components/schemas/expirationDate"
        cvv:
          type: integer
      required:
      - cardNumber
      - cardType
      - cvv
      - expirationDate
      type: object
    invoiceDetails:
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - amountDue
      - invoiceNumber
      type: object
    achDetails:
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - accountNumber
      - checkDigit
      - routingNumber
      type: object
    creditAmount:
      properties:
        amount:
          type: number
        currency:
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
          type: string
      required:
      - amount
      - currency
      type: object
    currency:
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
      type: string
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
      type: object
    year:
      type: integer
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
      type: string
    standardResponse:
      example:
        requestId: 0
        message: message
        status: status
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - message
      - requestId
      - status
      type: object
    status:
      type: string
    message:
      type: string
    errorResponse:
      example:
        errorTrackingId: errorTrackingId
        errorType: ValidationError
        errorMessage: errorMessage
        errorCode: MISSING_REQUIRED_FIELD
        errorDetails: errorDetails
      properties:
        errorType:
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - RateLimitError
          - ServerError
          type: string
        errorMessage:
          type: string
        errorCode:
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
          - RATE_LIMIT_EXCEEDED
          type: string
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorCode
      - errorMessage
      - errorType
      type: object
    errorType:
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - RateLimitError
      - ServerError
      type: string
    errorMessage:
      type: string
    errorCode:
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
      - RATE_LIMIT_EXCEEDED
      type: string
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: "#/components/schemas/errorResponse"
    HTTP_401_UNAUTHORIZED:
      $ref: "#/components/schemas/errorResponse"
    HTTP_403_FORBIDDEN:
      $ref: "#/components/schemas/errorResponse"
    HTTP_404_NOT_FOUND:
      $ref: "#/components/schemas/errorResponse"
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: "#/components/schemas/errorResponse"
    HTTP_429_TOO_MANY_REQUESTS:
      $ref: "#/components/schemas/errorResponse"
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: "#/components/schemas/errorResponse"
    ShortTokenRequest:
      additionalProperties: false
      example:
        long_token: long_token
        scopes:
        - scopes
        - scopes
      properties:
        long_token:
          description: Optional if the long-term token is provided in Authorization
            header
          type: string
        scopes:
          description: Optional scope narrowing; defaults to the long-term token's
            scopes
          items:
            type: string
          type: array
      type: object
    ShortTokenResponse:
      example:
        access_token: access_token
        expires_at: 2000-01-23T04:56:07.000+00:00
        token_id: token_id
        scopes:
        - scopes
        - scopes
        token_type: Bearer
        expires_in: 0
      properties:
        token_type:
          enum:
          - Bearer
          type: string
        access_token:
          description: Short-lived JWT
          type: string
        expires_in:
          description: "Lifetime in seconds (e.g., 900 for 15 minutes)"
          type: integer
        expires_at:
          description: ISO 8601 timestamp of expiration
          format: date-time
          type: string
        scopes:
          description: Granted scopes
          items:
            type: string
          type: array
        token_id:
          description: Server-issued identifier for this token
          type: string
      required:
      - access_token
      - expires_at
      - expires_in
      - token_type
      type: object
    LongTokenRequest:
      additionalProperties: false
      description: One of several credential mechanisms must be provided.
      example:
        grant_type: client_credentials
        ttl_seconds: 626035
        assertion: assertion
        client_secret: client_secret
        scopes:
        - scopes
        - scopes
        otp_code: otp_code
        client_id: client_id
        assertion_type: assertion_type
      properties:
        grant_type:
          description: The authentication grant type
          enum:
          - client_credentials
          - assertion
          type: string
        client_id:
          description: Client identifier issued by Click2Mail
          type: string
        client_secret:
          description: Required if using client_credentials with secret
          type: string
        otp_code:
          description: Required if your policy mandates OTP for issuance
          type: string
        assertion_type:
          description: Required when grant_type=assertion
          type: string
        assertion:
          description: Signed JWT or other accepted assertion
          type: string
        scopes:
          description: Scopes to assign to the long-term token
          items:
            type: string
          type: array
        ttl_seconds:
          description: Requested lifetime (1 hour - 90 days). Server may clamp.
          maximum: 7776000
          minimum: 3600
          type: integer
      required:
      - client_id
      - grant_type
      type: object
    LongTokenResponse:
      example:
        access_token: access_token
        expires_at: 2000-01-23T04:56:07.000+00:00
        token_id: token_id
        scopes:
        - scopes
        - scopes
        token_type: Bearer
        expires_in: 0
      properties:
        token_type:
          enum:
          - Bearer
          type: string
        access_token:
          description: Long-lived token (opaque or JWT depending on deployment)
          type: string
        expires_in:
          description: Lifetime in seconds
          type: integer
        expires_at:
          description: ISO 8601 timestamp of expiration
          format: date-time
          type: string
        scopes:
          description: Granted scopes
          items:
            type: string
          type: array
        token_id:
          description: Server-issued identifier for this token
          type: string
      required:
      - access_token
      - expires_at
      - expires_in
      - token_type
      type: object
    AuthError:
      example:
        code: invalid_grant
        details: "{}"
        message: The provided client credentials are invalid.
      properties:
        code:
          description: OAuth-style error code
          example: invalid_grant
          type: string
        message:
          description: Human-readable error message
          example: The provided client credentials are invalid.
          type: string
        details:
          description: Additional error details
          type: object
      required:
      - code
      - message
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    LongTokenAuth:
      description: Long-term JWT for exchanging to short-term tokens
      flows:
        clientCredentials:
          scopes:
            tokens:write: Create new long-term tokens
            tokens:revoke: Revoke existing tokens
          tokenUrl: /auth/tokens/long
      type: oauth2
    ShortTokenAuth:
      description: Short-term JWT for API operations
      flows:
        clientCredentials:
          scopes:
            tokens:write: Create new long-term tokens
            tokens:revoke: Revoke existing tokens
          tokenUrl: /auth/tokens/short
      type: oauth2
    ClientKey:
      description: Client identifier for additional security
      in: header
      name: X-Client-Id
      type: apiKey

