openapi: 3.0.3
info:
  description: API for submitting mailing jobs with various document routing options
  title: C2M API v2
  version: 2.0.0
servers:
- description: Production server
  url: https://api.click2mail.com/v2
security:
- bearerAuth: []
tags:
- description: Job submission endpoints
  name: jobs
- description: Authentication and token management endpoints
  name: auth
paths:
  /jobs/submit/single/doc:
    post:
      description: "Submits a mailing job (single doc). The request body contains\
        \ job parameters including document source, recipient address information,\
        \ and payment details."
      operationId: submitSingleDocParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSingleDocParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceAll\", \"location\": \"\
                      requestBody\"}"
                    errorTrackingId: TRK-20260907-Q320XK
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceAll\", \"issue\": \"exactly\
                      \ one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-IXF1HH
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-ZBPUP9
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-DVBF4R
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-JGDJZM
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-JGHSCC
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-X6SIE8
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-39ZQ4V
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-2GIXBF
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-P21KLG
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceAll\", \"value\": \"invalid_value\"\
                      , \"allowedValues\": [\"pdf\", \"doc\", \"docx\"]}"
                    errorTrackingId: TRK-20260907-WO5971
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-RAKP9U
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceAll\", \"\
                      issue\": \"not found in document library\"}, {\"field\": \"\
                      recipientAddressSource.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-3E87GI
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-5IKK3R
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-N89UAG
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-YY86UF
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a single doc job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/single/pdf/addressCapture:
    post:
      description: "Submits a mailing job (single pdf addressCapture). The request\
        \ body contains job parameters including document source, recipient address\
        \ information, and payment details."
      operationId: submitSinglePdfAddressCaptureParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSinglePdfAddressCaptureParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceStandard\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260907-0MLEU9
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceStandard\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-P8UQ69
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-55LKOX
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-FNWSYC
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-245BFP
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-5Q16K6
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-ELDOZC
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-L9P9EI
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-CX93TG
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-7TX9AL
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceStandard\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260907-ZQSIOH
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-EIMF5M
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceStandard\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"recipientAddress.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-SRP7DN
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-ZFQXWB
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-77UT3X
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-PSSWUW
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a single pdf addressCapture job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/single/pdf/split:
    post:
      description: "Submits a mailing job (single pdf split). The request body contains\
        \ job parameters including document source, recipient address information,\
        \ and payment details."
      operationId: submitSinglePdfSplitParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSinglePdfSplitParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceStandard\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260907-RLX9FJ
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceStandard\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-2Y4L2X
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-MK9NUF
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-LHKQU5
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-5HZB06
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-AVXF2G
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-1LAU3P
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-926TOC
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-MPJMQ0
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-879X7R
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceStandard\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260907-131BEJ
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-HD9W60
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceStandard\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"recipientAddress.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-00DR80
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-W2P7V8
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-1AQ12S
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-GQ3KL7
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a single pdf split job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/single/pdf/split/addressCapture:
    post:
      description: "Submits a mailing job (single pdf split addressCapture). The request\
        \ body contains job parameters including document source, recipient address\
        \ information, and payment details."
      operationId: submitSinglePdfSplitAddressCaptureParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitSinglePdfSplitAddressCaptureParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"docSourceStandard\", \"location\"\
                      : \"requestBody\"}"
                    errorTrackingId: TRK-20260907-8BD7RY
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"docSourceStandard\", \"issue\": \"\
                      exactly one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-ZALM4D
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-S12QEM
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-9O88IF
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-2CK2FV
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-030ZL0
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-ITGBST
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-MTQFOC
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-ENHEZM
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-Q7MQU3
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"docSourceStandard\", \"value\": \"\
                      invalid_value\", \"allowedValues\": [\"pdf\", \"doc\", \"docx\"\
                      ]}"
                    errorTrackingId: TRK-20260907-K07TAM
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-VK1XJ9
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"docSourceStandard\"\
                      , \"issue\": \"not found in document library\"}, {\"field\"\
                      : \"recipientAddress.postalCode\", \"issue\": \"invalid format\
                      \ - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-PX07LO
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-QUQ5D6
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-QV5CVZ
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-RFGE4H
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a single pdf split addressCapture job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/multi/doc:
    post:
      description: "Submits a mailing job (multi doc). The request body contains job\
        \ parameters including document source, recipient address information, and\
        \ payment details."
      operationId: submitMultiDocParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiDocParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"documentId\", \"location\": \"requestBody\"\
                      }"
                    errorTrackingId: TRK-20260907-PTOLCY
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"documentId\", \"issue\": \"exactly\
                      \ one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-JG2843
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-B8JEUI
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-H9AVV6
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-OVJ68N
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-BAGWIV
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-1QYSSM
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-51UV19
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-L7ND85
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-ACH9LJ
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"documentId\", \"value\": \"invalid_value\"\
                      , \"allowedValues\": [\"pdf\", \"doc\", \"docx\"]}"
                    errorTrackingId: TRK-20260907-1I31MH
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-NN7FK5
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"documentId\", \"issue\"\
                      : \"not found in document library\"}, {\"field\": \"recipientAddress.postalCode\"\
                      , \"issue\": \"invalid format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-JDXSK8
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-EAMRMK
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-27H0QX
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-UHV2HX
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a multi doc job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/multi/doc/merge:
    post:
      description: "Submits a mailing job (multi doc merge). The request body contains\
        \ job parameters including document source, recipient address information,\
        \ and payment details."
      operationId: submitMultiDocMergeParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiDocMergeParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"documentId\", \"location\": \"requestBody\"\
                      }"
                    errorTrackingId: TRK-20260907-GANP6B
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"documentId\", \"issue\": \"exactly\
                      \ one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-A9OOUG
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-BBKFUR
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-5ZU9QI
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-ZM4Y2F
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-3MSJZL
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-7W6KBK
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-1JOI35
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-F0GIMN
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-6XB052
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"documentId\", \"value\": \"invalid_value\"\
                      , \"allowedValues\": [\"pdf\", \"doc\", \"docx\"]}"
                    errorTrackingId: TRK-20260907-70HFBI
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-6T2PQV
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"documentId\", \"issue\"\
                      : \"not found in document library\"}, {\"field\": \"recipientAddressSource.postalCode\"\
                      , \"issue\": \"invalid format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-EDWYDY
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-XN1OLS
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-JP2JX0
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-0HMAEF
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a multi doc merge job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/multi/zip:
    post:
      description: "Submits a mailing job (multi zip). The request body contains job\
        \ parameters including document source, recipient address information, and\
        \ payment details."
      operationId: submitMultiZipParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiZipParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"documentId\", \"location\": \"requestBody\"\
                      }"
                    errorTrackingId: TRK-20260907-OSGXCV
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"documentId\", \"issue\": \"exactly\
                      \ one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-YSFQSB
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-R89QEX
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-JXPKXI
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-P4N7BI
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-O9D09R
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-O1SAYA
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-3NFJJ1
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-LWG8UW
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-CQBXZ6
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"documentId\", \"value\": \"invalid_value\"\
                      , \"allowedValues\": [\"pdf\", \"doc\", \"docx\"]}"
                    errorTrackingId: TRK-20260907-3Q4W21
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-B0XMZY
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"documentId\", \"issue\"\
                      : \"not found in document library\"}, {\"field\": \"recipientAddress.postalCode\"\
                      , \"issue\": \"invalid format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-B9SG1K
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-HPYMHZ
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-FVDLT5
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-8JB2MT
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a multi zip job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /jobs/submit/multi/zip/addressCapture:
    post:
      description: "Submits a mailing job (multi zip addressCapture). The request\
        \ body contains job parameters including document source, recipient address\
        \ information, and payment details."
      operationId: submitMultiZipAddressCaptureParams
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitMultiZipAddressCaptureParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/standardResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Missing required field in request
                    errorCode: MISSING_REQUIRED_FIELD
                    errorDetails: "{\"field\": \"documentId\", \"location\": \"requestBody\"\
                      }"
                    errorTrackingId: TRK-20260907-RFS5KL
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid oneOf field value
                    errorCode: INVALID_ONEOF
                    errorDetails: "{\"field\": \"documentId\", \"issue\": \"exactly\
                      \ one variant must be provided\"}"
                    errorTrackingId: TRK-20260907-Z4OWCZ
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Malformed JSON in request body
                    errorCode: INVALID_JSON
                    errorDetails: "{\"error\": \"unexpected token at position 42\"\
                      }"
                    errorTrackingId: TRK-20260907-XI2XTF
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authorization header is missing or invalid
                    errorCode: MISSING_AUTH_HEADER
                    errorDetails: "{\"expected\": \"Bearer <token>\", \"received\"\
                      : \"none\"}"
                    errorTrackingId: TRK-20260907-SFK66K
                example-2:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token is invalid
                    errorCode: INVALID_TOKEN
                    errorDetails: "{\"issue\": \"token signature verification failed\"\
                      }"
                    errorTrackingId: TRK-20260907-IKKV95
                example-3:
                  value:
                    errorType: AuthenticationError
                    errorMessage: Authentication token has expired
                    errorCode: EXPIRED_TOKEN
                    errorDetails: "{\"expiresAt\": \"2026-02-15T10:30:00Z\", \"currentTime\"\
                      : \"2026-02-16T14:00:00Z\"}"
                    errorTrackingId: TRK-20260907-14Z12T
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unauthorized - Missing or invalid authentication
        "403":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Insufficient permissions to access this resource
                    errorCode: INSUFFICIENT_PERMISSIONS
                    errorDetails: "{\"required\": \"jobs:write\", \"provided\": \"\
                      jobs:read\"}"
                    errorTrackingId: TRK-20260907-E038I8
                example-2:
                  value:
                    errorType: AuthorizationError
                    errorMessage: Account has been suspended
                    errorCode: ACCOUNT_SUSPENDED
                    errorDetails: "{\"reason\": \"billing overdue\", \"contactSupport\"\
                      : \"support@click2mail.com\"}"
                    errorTrackingId: TRK-20260907-2MFNEJ
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Job not found
                    errorCode: JOB_NOT_FOUND
                    errorDetails: "{\"jobId\": \"JOB-12345\"}"
                    errorTrackingId: TRK-20260907-OS04DW
                example-2:
                  value:
                    errorType: ResourceNotFoundError
                    errorMessage: Requested resource does not exist
                    errorCode: RESOURCE_NOT_FOUND
                    errorDetails: "{\"resourceType\": \"document\", \"resourceId\"\
                      : \"DOC-67890\"}"
                    errorTrackingId: TRK-20260907-R4JN3F
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Not Found - Resource not found
        "422":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ValidationError
                    errorMessage: Invalid enum value provided
                    errorCode: INVALID_ENUM_VALUE
                    errorDetails: "{\"field\": \"documentId\", \"value\": \"invalid_value\"\
                      , \"allowedValues\": [\"pdf\", \"doc\", \"docx\"]}"
                    errorTrackingId: TRK-20260907-R9IS7T
                example-2:
                  value:
                    errorType: ValidationError
                    errorMessage: Mutually exclusive fields both present
                    errorCode: MUTUAL_EXCLUSION_VIOLATION
                    errorDetails: "{\"fields\": [\"jobTemplate\", \"jobOptions\"],\
                      \ \"issue\": \"only one may be provided\"}"
                    errorTrackingId: TRK-20260907-Y9TD7F
                example-3:
                  value:
                    errorType: ValidationError
                    errorMessage: Field format validation failed
                    errorCode: INVALID_FORMAT
                    errorDetails: "{\"errors\": [{\"field\": \"documentId\", \"issue\"\
                      : \"not found in document library\"}, {\"field\": \"recipientAddress.postalCode\"\
                      , \"issue\": \"invalid format - must be 5 or 9 digits\"}]}"
                    errorTrackingId: TRK-20260907-JWQFR8
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Unprocessable Entity - Validation failed
        "500":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    errorType: ServerError
                    errorMessage: Internal server error occurred
                    errorCode: SERVER_ERROR
                    errorDetails: "{\"message\": \"An unexpected error occurred\"}"
                    errorTrackingId: TRK-20260907-HB3PGK
                example-2:
                  value:
                    errorType: ServerError
                    errorMessage: Database error occurred
                    errorCode: DATABASE_ERROR
                    errorDetails: "{\"operation\": \"insert\", \"table\": \"jobs\"\
                      }"
                    errorTrackingId: TRK-20260907-Z3JQY8
                example-3:
                  value:
                    errorType: ServerError
                    errorMessage: External service error
                    errorCode: EXTERNAL_SERVICE_ERROR
                    errorDetails: "{\"service\": \"payment-gateway\", \"status\":\
                      \ \"timeout\"}"
                    errorTrackingId: TRK-20260907-CHYCBI
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Internal Server Error - Server encountered an error
      summary: Submit a multi zip addressCapture job
      tags:
      - jobs
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/tokens/short:
    post:
      description: |
        Exchange a valid long-term token for a short-lived JWT (e.g., 15 minutes).
        The long-term token must be sent in the Authorization header as `Bearer <long_token>`.
      operationId: issueShortTermToken
      requestBody:
        content:
          application/json:
            examples:
              withScopes:
                value:
                  scopes:
                  - jobs:submit
                  - templates:read
            schema:
              $ref: "#/components/schemas/ShortTokenRequest"
        required: false
      responses:
        "201":
          content:
            application/json:
              examples:
                success:
                  value:
                    token_type: Bearer
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    expires_in: 900
                    expires_at: 2025-08-26T22:45:00Z
                    scopes:
                    - jobs:submit
                    - templates:read
                    token_id: tok_st_9f3d2c
              schema:
                $ref: "#/components/schemas/ShortTokenResponse"
          description: Short-term token issued
        "400":
          content:
            application/json:
              examples:
                invalidGrant:
                  value:
                    code: invalid_grant
                    message: The grant type is not supported
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    code: invalid_token
                    message: The provided token is expired or invalid
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Unauthorized
        "429":
          content:
            application/json:
              examples:
                rateLimited:
                  value:
                    code: rate_limited
                    message: Too many requests. Please retry after 60 seconds.
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Too Many Requests
      security:
      - LongTokenAuth: []
      summary: Issue a short-term access token
      tags:
      - auth
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/tokens/long:
    post:
      description: |
        Issues a long-term token (e.g., 30-90 days) for automation or server-to-server use.
        Requires step-up authentication. Choose one of the supported grant types:

        - `client_credentials` + `client_secret`
        - `client_credentials` + one-time `otp_code`
        - `assertion` (e.g., signed JWT by your private key)
        - Or an existing short-term token with the `tokens:write` scope

        Only one mechanism is required per call.
      operationId: issueLongTermToken
      requestBody:
        content:
          application/json:
            examples:
              clientSecret:
                value:
                  grant_type: client_credentials
                  client_id: c2m_abc123
                  client_secret: supersecret123
                  scopes:
                  - jobs:submit
                  - templates:read
                  ttl_seconds: 7776000
              otp:
                value:
                  grant_type: client_credentials
                  client_id: c2m_abc123
                  otp_code: "123456"
                  scopes:
                  - jobs:*
                  ttl_seconds: 2592000
              assertion:
                value:
                  grant_type: assertion
                  client_id: c2m_abc123
                  assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                  assertion: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                  scopes:
                  - jobs:submit
                  - templates:read
            schema:
              $ref: "#/components/schemas/LongTokenRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                success:
                  value:
                    token_type: Bearer
                    access_token: lt_0d51e9bd2f6449cf...
                    expires_in: 2592000
                    expires_at: 2025-09-25T22:45:00Z
                    scopes:
                    - jobs:*
                    token_id: tok_lt_b8e0aa
              schema:
                $ref: "#/components/schemas/LongTokenResponse"
          description: Long-term token issued
          headers:
            X-Token-Id:
              description: Server-generated identifier for revocation and audit
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                invalidGrant:
                  value:
                    code: invalid_grant
                    message: The grant type is not supported
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    code: invalid_token
                    message: The provided token is expired or invalid
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                insufficientScope:
                  value:
                    code: insufficient_scope
                    message: The token lacks the required scope for this operation
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                rateLimited:
                  value:
                    code: rate_limited
                    message: Too many requests. Please retry after 60 seconds.
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Too Many Requests
      security:
      - ShortTokenAuth:
        - tokens:write
      - ClientKey: []
      summary: Issue or rotate a long-term token
      tags:
      - auth
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/tokens/{tokenId}/revoke:
    post:
      description: Revokes a short- or long-term token by its `tokenId`. Idempotent.
      operationId: revokeToken
      parameters:
      - description: The token ID to revoke
        explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Revoked (idempotent)
        "401":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    code: invalid_token
                    message: The provided token is expired or invalid
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                notFound:
                  value:
                    code: not_found
                    message: The requested resource was not found
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Not found
      security:
      - ShortTokenAuth:
        - tokens:revoke
      - LongTokenAuth:
        - tokens:revoke
      summary: Revoke a token
      tags:
      - auth
      x-accepts:
      - application/json
components:
  parameters:
    Authorization:
      explode: false
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        type: string
      style: simple
    Content-Type:
      explode: false
      in: header
      name: Content-Type
      required: true
      schema:
        example: application/json
        type: string
      style: simple
  responses:
    Error400:
      content:
        application/json:
          examples:
            invalidGrant:
              value:
                code: invalid_grant
                message: The grant type is not supported
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Bad request
    Error401:
      content:
        application/json:
          examples:
            invalidToken:
              value:
                code: invalid_token
                message: The provided token is expired or invalid
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Unauthorized
    Error403:
      content:
        application/json:
          examples:
            insufficientScope:
              value:
                code: insufficient_scope
                message: The token lacks the required scope for this operation
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Forbidden
    Error404:
      content:
        application/json:
          examples:
            notFound:
              value:
                code: not_found
                message: The requested resource was not found
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Not found
    Error429:
      content:
        application/json:
          examples:
            rateLimited:
              value:
                code: rate_limited
                message: Too many requests. Please retry after 60 seconds.
          schema:
            $ref: "#/components/schemas/AuthError"
      description: Too Many Requests
  schemas:
    month:
      maximum: 12
      minimum: 1
      type: integer
    submitSingleDocParams:
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: "#/components/schemas/docSourceAll"
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceAll
      - recipientAddressSource
      type: object
    submitSinglePdfAddressCaptureParams:
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: "#/components/schemas/docSourceStandard"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceStandard
      type: object
    submitSinglePdfSplitParams:
      properties:
        docSourceStandard:
          $ref: "#/components/schemas/docSourceStandard"
        pdfSplitJobsWithAddress:
          items:
            $ref: "#/components/schemas/pdfSplitJobItemWithAddress"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceStandard
      - pdfSplitJobsWithAddress
      type: object
    submitSinglePdfSplitAddressCaptureParams:
      properties:
        jobTemplate:
          type: string
        docSourceStandard:
          $ref: "#/components/schemas/docSourceStandard"
        pdfSplitJobsNoAddress:
          items:
            $ref: "#/components/schemas/pdfSplitJobItemNoAddress"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceStandard
      - pdfSplitJobsNoAddress
      type: object
    submitMultiDocParams:
      properties:
        multiDocJobs:
          items:
            $ref: "#/components/schemas/multiDocJobItem"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        tags:
          items:
            type: string
          type: array
      required:
      - multiDocJobs
      type: object
    submitMultiDocMergeParams:
      properties:
        jobTemplate:
          type: string
        mergeDocumentSource:
          items:
            $ref: "#/components/schemas/mergeDocumentRef"
          type: array
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - mergeDocumentSource
      - recipientAddressSource
      type: object
    submitMultiZipParams:
      properties:
        docSourceZipFileRef:
          $ref: "#/components/schemas/docSourceZipFileRef"
        multiZipJobs:
          items:
            $ref: "#/components/schemas/multiZipJobItem"
          type: array
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        tags:
          items:
            type: string
          type: array
      required:
      - docSourceZipFileRef
      - multiZipJobs
      type: object
    submitMultiZipAddressCaptureParams:
      properties:
        jobTemplate:
          type: string
        zipDocumentSource:
          $ref: "#/components/schemas/zipDocumentSource"
        paymentDetails:
          $ref: "#/components/schemas/paymentDetails"
        returnAddress:
          $ref: "#/components/schemas/returnAddress"
        jobOptions:
          $ref: "#/components/schemas/jobOptions"
        tags:
          items:
            type: string
          type: array
      required:
      - zipDocumentSource
      type: object
    jobTemplate:
      type: string
    returnAddress:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
      required:
      - address1
      - city
      - country
      - firstName
      - lastName
      - state
      - zip
      type: object
    jobOptions:
      properties:
        documentClass:
          type: string
        layout:
          type: string
        productionTime:
          type: string
        envelope:
          type: string
        color:
          type: string
        paperType:
          type: string
        printOption:
          type: string
        mailClass:
          type: string
      required:
      - color
      - documentClass
      - envelope
      - layout
      - mailClass
      - paperType
      - printOption
      - productionTime
      type: object
    documentClass:
      type: string
    layout:
      type: string
    productionTime:
      type: string
    envelope:
      type: string
    color:
      type: string
    paperType:
      type: string
    printOption:
      type: string
    mailClass:
      type: string
    tags:
      $ref: "#/components/schemas/tagsList"
    tagsList:
      items:
        type: string
      type: array
    firstName:
      type: string
    lastName:
      type: string
    address1:
      type: string
    address2:
      type: string
    address3:
      type: string
    city:
      type: string
    state:
      type: string
    zip:
      type: string
    country:
      type: string
    foo1:
      type: string
    foo2:
      type: string
    address:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        address2:
          type: string
        address3:
          type: string
        foo1:
          type: string
        foo2:
          type: string
      required:
      - address1
      - city
      - country
      - firstName
      - lastName
      - state
      - zip
      type: object
    recipientAddressSource:
      oneOf:
      - $ref: "#/components/schemas/recipientAddressBySingle"
      - $ref: "#/components/schemas/recipientAddressByList"
      - $ref: "#/components/schemas/recipientAddressByAddressId"
      - $ref: "#/components/schemas/recipientAddressByListId"
    recipientAddressBySingle:
      properties:
        mappingId:
          type: integer
        singleAddress:
          $ref: "#/components/schemas/address"
        addressName:
          type: string
      required:
      - singleAddress
      type: object
    recipientAddressByList:
      properties:
        mappingId:
          type: integer
        addressList:
          items:
            $ref: "#/components/schemas/address"
          type: array
        addressListName:
          type: string
      required:
      - addressList
      type: object
    recipientAddressByListId:
      $ref: "#/components/schemas/addressListId"
    recipientAddressByAddressId:
      $ref: "#/components/schemas/addressId"
    mappingId:
      $ref: "#/components/schemas/id"
    addressName:
      type: string
    addressListName:
      type: string
    addressListId:
      $ref: "#/components/schemas/id"
    addressId:
      $ref: "#/components/schemas/id"
    singleAddress:
      $ref: "#/components/schemas/address"
    addressList:
      items:
        $ref: "#/components/schemas/address"
      type: array
    documentIdSource:
      $ref: "#/components/schemas/documentId"
    documentId:
      $ref: "#/components/schemas/id"
    requestIdSource:
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
      type: object
    requestId:
      $ref: "#/components/schemas/id"
    filename:
      type: string
    urlSource:
      $ref: "#/components/schemas/url"
    url:
      type: string
    zipDocumentIdSource:
      properties:
        zipDocumentId:
          type: integer
        filename:
          type: string
      required:
      - filename
      - zipDocumentId
      type: object
    zipDocumentId:
      $ref: "#/components/schemas/id"
    zipRequestIdSource:
      properties:
        requestId:
          type: integer
        zipFilename:
          type: string
        filename:
          type: string
      required:
      - filename
      - requestId
      - zipFilename
      type: object
    zipFilename:
      type: string
    zipDocumentIdOnly:
      $ref: "#/components/schemas/zipDocumentId"
    zipRequestIdOnly:
      $ref: "#/components/schemas/requestId"
    zipDocumentSource:
      oneOf:
      - $ref: "#/components/schemas/zipDocumentIdSource"
      - $ref: "#/components/schemas/zipRequestIdSource"
    docSourceStandard:
      oneOf:
      - $ref: "#/components/schemas/documentIdSource"
      - $ref: "#/components/schemas/requestIdSource"
      - $ref: "#/components/schemas/urlSource"
    docSourceZipFile:
      oneOf:
      - $ref: "#/components/schemas/zipDocumentIdSource"
      - $ref: "#/components/schemas/zipRequestIdSource"
    docSourceZipFileRef:
      oneOf:
      - $ref: "#/components/schemas/zipDocumentIdOnly"
      - $ref: "#/components/schemas/zipRequestIdOnly"
    docSourceAll:
      oneOf:
      - $ref: "#/components/schemas/docSourceStandard"
      - $ref: "#/components/schemas/docSourceZipFile"
    mergeDocumentSource:
      $ref: "#/components/schemas/documentsToMerge"
    documentsToMerge:
      items:
        $ref: "#/components/schemas/mergeDocumentRef"
      type: array
    mergeDocumentRef:
      oneOf:
      - $ref: "#/components/schemas/mergeByDocumentId"
      - $ref: "#/components/schemas/mergeByRequestId"
    mergeByDocumentId:
      $ref: "#/components/schemas/documentId"
    mergeByRequestId:
      properties:
        requestId:
          type: integer
        filename:
          type: string
      required:
      - requestId
      type: object
    multiDocJobs:
      items:
        $ref: "#/components/schemas/multiDocJobItem"
      type: array
    multiDocJobItem:
      properties:
        jobTemplate:
          type: string
        docSourceAll:
          $ref: "#/components/schemas/docSourceAll"
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
      required:
      - docSourceAll
      - recipientAddressSource
      type: object
    pdfSplitJobsWithAddress:
      items:
        $ref: "#/components/schemas/pdfSplitJobItemWithAddress"
      type: array
    pdfSplitJobsNoAddress:
      items:
        $ref: "#/components/schemas/pdfSplitJobItemNoAddress"
      type: array
    pdfSplitJobItemWithAddress:
      properties:
        jobTemplate:
          type: string
        startPage:
          type: integer
        endPage:
          type: integer
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
      required:
      - endPage
      - recipientAddressSource
      - startPage
      type: object
    pdfSplitJobItemNoAddress:
      properties:
        startPage:
          type: integer
        endPage:
          type: integer
      required:
      - endPage
      - startPage
      type: object
    startPage:
      type: integer
    endPage:
      type: integer
    multiZipJobs:
      items:
        $ref: "#/components/schemas/multiZipJobItem"
      type: array
    multiZipJobItem:
      properties:
        jobTemplate:
          type: string
        filename:
          type: string
        recipientAddressSource:
          $ref: "#/components/schemas/recipientAddressSource"
      required:
      - filename
      - recipientAddressSource
      type: object
    id:
      type: integer
    paymentDetails:
      oneOf:
      - $ref: "#/components/schemas/creditCardPayment"
      - $ref: "#/components/schemas/invoicePayment"
      - $ref: "#/components/schemas/achPayment"
      - $ref: "#/components/schemas/userCreditPayment"
    creditCardPayment:
      properties:
        creditCardDetails:
          $ref: "#/components/schemas/creditCardDetails"
      required:
      - creditCardDetails
      type: object
    invoicePayment:
      properties:
        invoiceDetails:
          $ref: "#/components/schemas/invoiceDetails"
      required:
      - invoiceDetails
      type: object
    achPayment:
      properties:
        achDetails:
          $ref: "#/components/schemas/achDetails"
      required:
      - achDetails
      type: object
    userCreditPayment:
      properties:
        creditAmount:
          $ref: "#/components/schemas/creditAmount"
      required:
      - creditAmount
      type: object
    creditCardDetails:
      properties:
        cardType:
          enum:
          - visa
          - mastercard
          - discover
          - americanExpress
          type: string
        cardNumber:
          type: string
        expirationDate:
          $ref: "#/components/schemas/expirationDate"
        cvv:
          type: integer
      required:
      - cardNumber
      - cardType
      - cvv
      - expirationDate
      type: object
    invoiceDetails:
      properties:
        invoiceNumber:
          type: string
        amountDue:
          type: number
      required:
      - amountDue
      - invoiceNumber
      type: object
    achDetails:
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        checkDigit:
          type: integer
      required:
      - accountNumber
      - checkDigit
      - routingNumber
      type: object
    creditAmount:
      properties:
        amount:
          type: number
        currency:
          enum:
          - USD
          - EUR
          - GBP
          - CAD
          - AUD
          type: string
      required:
      - amount
      - currency
      type: object
    currency:
      enum:
      - USD
      - EUR
      - GBP
      - CAD
      - AUD
      type: string
    amount:
      type: number
    cardNumber:
      type: string
    expirationDate:
      properties:
        month:
          type: integer
        year:
          type: integer
      required:
      - month
      - year
      type: object
    year:
      type: integer
    cvv:
      type: integer
    routingNumber:
      type: string
    accountNumber:
      type: string
    checkDigit:
      type: integer
    invoiceNumber:
      type: string
    amountDue:
      type: number
    cardType:
      enum:
      - visa
      - mastercard
      - discover
      - americanExpress
      type: string
    standardResponse:
      example:
        requestId: 0
        message: message
        status: status
      properties:
        status:
          type: string
        message:
          type: string
        requestId:
          type: integer
      required:
      - message
      - requestId
      - status
      type: object
    status:
      type: string
    message:
      type: string
    errorResponse:
      example:
        errorTrackingId: errorTrackingId
        errorType: ValidationError
        errorMessage: errorMessage
        errorCode: MISSING_REQUIRED_FIELD
        errorDetails: errorDetails
      properties:
        errorType:
          enum:
          - ValidationError
          - AuthenticationError
          - AuthorizationError
          - ResourceNotFoundError
          - ServerError
          type: string
        errorMessage:
          type: string
        errorCode:
          enum:
          - MISSING_REQUIRED_FIELD
          - INVALID_ONEOF
          - INVALID_JSON
          - MISSING_AUTH_HEADER
          - INVALID_TOKEN
          - EXPIRED_TOKEN
          - INSUFFICIENT_PERMISSIONS
          - ACCOUNT_SUSPENDED
          - JOB_NOT_FOUND
          - RESOURCE_NOT_FOUND
          - INVALID_ENUM_VALUE
          - MUTUAL_EXCLUSION_VIOLATION
          - INVALID_FORMAT
          - SERVER_ERROR
          - DATABASE_ERROR
          - EXTERNAL_SERVICE_ERROR
          type: string
        errorDetails:
          type: string
        errorTrackingId:
          type: string
      required:
      - errorCode
      - errorMessage
      - errorType
      type: object
    errorType:
      enum:
      - ValidationError
      - AuthenticationError
      - AuthorizationError
      - ResourceNotFoundError
      - ServerError
      type: string
    errorMessage:
      type: string
    errorCode:
      enum:
      - MISSING_REQUIRED_FIELD
      - INVALID_ONEOF
      - INVALID_JSON
      - MISSING_AUTH_HEADER
      - INVALID_TOKEN
      - EXPIRED_TOKEN
      - INSUFFICIENT_PERMISSIONS
      - ACCOUNT_SUSPENDED
      - JOB_NOT_FOUND
      - RESOURCE_NOT_FOUND
      - INVALID_ENUM_VALUE
      - MUTUAL_EXCLUSION_VIOLATION
      - INVALID_FORMAT
      - SERVER_ERROR
      - DATABASE_ERROR
      - EXTERNAL_SERVICE_ERROR
      type: string
    errorDetails:
      type: string
    errorTrackingId:
      type: string
    HTTP_400_BAD_REQUEST:
      $ref: "#/components/schemas/errorResponse"
    HTTP_401_UNAUTHORIZED:
      $ref: "#/components/schemas/errorResponse"
    HTTP_403_FORBIDDEN:
      $ref: "#/components/schemas/errorResponse"
    HTTP_404_NOT_FOUND:
      $ref: "#/components/schemas/errorResponse"
    HTTP_422_UNPROCESSABLE_ENTITY:
      $ref: "#/components/schemas/errorResponse"
    HTTP_500_INTERNAL_SERVER_ERROR:
      $ref: "#/components/schemas/errorResponse"
    ShortTokenRequest:
      additionalProperties: false
      example:
        long_token: long_token
        scopes:
        - scopes
        - scopes
      properties:
        long_token:
          description: Optional if the long-term token is provided in Authorization
            header
          type: string
        scopes:
          description: Optional scope narrowing; defaults to the long-term token's
            scopes
          items:
            type: string
          type: array
      type: object
    ShortTokenResponse:
      example:
        access_token: access_token
        expires_at: 2000-01-23T04:56:07.000+00:00
        token_id: token_id
        scopes:
        - scopes
        - scopes
        token_type: Bearer
        expires_in: 0
      properties:
        token_type:
          enum:
          - Bearer
          type: string
        access_token:
          description: Short-lived JWT
          type: string
        expires_in:
          description: "Lifetime in seconds (e.g., 900 for 15 minutes)"
          type: integer
        expires_at:
          description: ISO 8601 timestamp of expiration
[...]
