/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.c2m.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.c2m.api.models.ErrorResponse
import com.c2m.api.models.StandardResponse
import com.c2m.api.models.SubmitMultiZipAddressCaptureParams
import com.c2m.api.models.SubmitMultiZipParams
import com.c2m.api.models.SubmitSinglePdfAddressCaptureParams
import com.c2m.api.models.SubmitSinglePdfSplitAddressCaptureParams
import com.c2m.api.models.SubmitSinglePdfSplitParams

import com.squareup.moshi.Json

import com.c2m.api.infrastructure.ApiClient
import com.c2m.api.infrastructure.ApiResponse
import com.c2m.api.infrastructure.ClientException
import com.c2m.api.infrastructure.ClientError
import com.c2m.api.infrastructure.ServerException
import com.c2m.api.infrastructure.ServerError
import com.c2m.api.infrastructure.MultiValueMap
import com.c2m.api.infrastructure.PartConfig
import com.c2m.api.infrastructure.RequestConfig
import com.c2m.api.infrastructure.RequestMethod
import com.c2m.api.infrastructure.ResponseType
import com.c2m.api.infrastructure.Success
import com.c2m.api.infrastructure.toMultiValue

class JobsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.example.com/v1")
        }
    }

    /**
     * POST /jobs/submit/multi/zip/addressCapture
     * Submit a multi zip addressCapture job
     * Submits a multi zip addressCapture mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiZipAddressCaptureParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitMultiZipAddressCaptureParams(submitMultiZipAddressCaptureParams: SubmitMultiZipAddressCaptureParams) : StandardResponse {
        val localVarResponse = submitMultiZipAddressCaptureParamsWithHttpInfo(submitMultiZipAddressCaptureParams = submitMultiZipAddressCaptureParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/multi/zip/addressCapture
     * Submit a multi zip addressCapture job
     * Submits a multi zip addressCapture mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiZipAddressCaptureParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitMultiZipAddressCaptureParamsWithHttpInfo(submitMultiZipAddressCaptureParams: SubmitMultiZipAddressCaptureParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitMultiZipAddressCaptureParamsRequestConfig(submitMultiZipAddressCaptureParams = submitMultiZipAddressCaptureParams)

        return request<SubmitMultiZipAddressCaptureParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitMultiZipAddressCaptureParams
     *
     * @param submitMultiZipAddressCaptureParams 
     * @return RequestConfig
     */
    fun submitMultiZipAddressCaptureParamsRequestConfig(submitMultiZipAddressCaptureParams: SubmitMultiZipAddressCaptureParams) : RequestConfig<SubmitMultiZipAddressCaptureParams> {
        val localVariableBody = submitMultiZipAddressCaptureParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/multi/zip/addressCapture",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /jobs/submit/multi/zip
     * Submit a multi zip job
     * Submits a multi zip mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiZipParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitMultiZipParams(submitMultiZipParams: SubmitMultiZipParams) : StandardResponse {
        val localVarResponse = submitMultiZipParamsWithHttpInfo(submitMultiZipParams = submitMultiZipParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/multi/zip
     * Submit a multi zip job
     * Submits a multi zip mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiZipParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitMultiZipParamsWithHttpInfo(submitMultiZipParams: SubmitMultiZipParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitMultiZipParamsRequestConfig(submitMultiZipParams = submitMultiZipParams)

        return request<SubmitMultiZipParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitMultiZipParams
     *
     * @param submitMultiZipParams 
     * @return RequestConfig
     */
    fun submitMultiZipParamsRequestConfig(submitMultiZipParams: SubmitMultiZipParams) : RequestConfig<SubmitMultiZipParams> {
        val localVariableBody = submitMultiZipParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/multi/zip",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /jobs/submit/single/pdf/addressCapture
     * Submit a single pdf addressCapture job
     * Submits a single pdf addressCapture mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSinglePdfAddressCaptureParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitSinglePdfAddressCaptureParams(submitSinglePdfAddressCaptureParams: SubmitSinglePdfAddressCaptureParams) : StandardResponse {
        val localVarResponse = submitSinglePdfAddressCaptureParamsWithHttpInfo(submitSinglePdfAddressCaptureParams = submitSinglePdfAddressCaptureParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/single/pdf/addressCapture
     * Submit a single pdf addressCapture job
     * Submits a single pdf addressCapture mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSinglePdfAddressCaptureParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitSinglePdfAddressCaptureParamsWithHttpInfo(submitSinglePdfAddressCaptureParams: SubmitSinglePdfAddressCaptureParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitSinglePdfAddressCaptureParamsRequestConfig(submitSinglePdfAddressCaptureParams = submitSinglePdfAddressCaptureParams)

        return request<SubmitSinglePdfAddressCaptureParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitSinglePdfAddressCaptureParams
     *
     * @param submitSinglePdfAddressCaptureParams 
     * @return RequestConfig
     */
    fun submitSinglePdfAddressCaptureParamsRequestConfig(submitSinglePdfAddressCaptureParams: SubmitSinglePdfAddressCaptureParams) : RequestConfig<SubmitSinglePdfAddressCaptureParams> {
        val localVariableBody = submitSinglePdfAddressCaptureParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/single/pdf/addressCapture",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /jobs/submit/single/pdf/split/addressCapture
     * Submit a single pdf split addressCapture job
     * Submits a single pdf split addressCapture mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSinglePdfSplitAddressCaptureParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitSinglePdfSplitAddressCaptureParams(submitSinglePdfSplitAddressCaptureParams: SubmitSinglePdfSplitAddressCaptureParams) : StandardResponse {
        val localVarResponse = submitSinglePdfSplitAddressCaptureParamsWithHttpInfo(submitSinglePdfSplitAddressCaptureParams = submitSinglePdfSplitAddressCaptureParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/single/pdf/split/addressCapture
     * Submit a single pdf split addressCapture job
     * Submits a single pdf split addressCapture mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSinglePdfSplitAddressCaptureParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitSinglePdfSplitAddressCaptureParamsWithHttpInfo(submitSinglePdfSplitAddressCaptureParams: SubmitSinglePdfSplitAddressCaptureParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitSinglePdfSplitAddressCaptureParamsRequestConfig(submitSinglePdfSplitAddressCaptureParams = submitSinglePdfSplitAddressCaptureParams)

        return request<SubmitSinglePdfSplitAddressCaptureParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitSinglePdfSplitAddressCaptureParams
     *
     * @param submitSinglePdfSplitAddressCaptureParams 
     * @return RequestConfig
     */
    fun submitSinglePdfSplitAddressCaptureParamsRequestConfig(submitSinglePdfSplitAddressCaptureParams: SubmitSinglePdfSplitAddressCaptureParams) : RequestConfig<SubmitSinglePdfSplitAddressCaptureParams> {
        val localVariableBody = submitSinglePdfSplitAddressCaptureParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/single/pdf/split/addressCapture",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /jobs/submit/single/pdf/split
     * Submit a single pdf split job
     * Submits a single pdf split mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSinglePdfSplitParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitSinglePdfSplitParams(submitSinglePdfSplitParams: SubmitSinglePdfSplitParams) : StandardResponse {
        val localVarResponse = submitSinglePdfSplitParamsWithHttpInfo(submitSinglePdfSplitParams = submitSinglePdfSplitParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/single/pdf/split
     * Submit a single pdf split job
     * Submits a single pdf split mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSinglePdfSplitParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitSinglePdfSplitParamsWithHttpInfo(submitSinglePdfSplitParams: SubmitSinglePdfSplitParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitSinglePdfSplitParamsRequestConfig(submitSinglePdfSplitParams = submitSinglePdfSplitParams)

        return request<SubmitSinglePdfSplitParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitSinglePdfSplitParams
     *
     * @param submitSinglePdfSplitParams 
     * @return RequestConfig
     */
    fun submitSinglePdfSplitParamsRequestConfig(submitSinglePdfSplitParams: SubmitSinglePdfSplitParams) : RequestConfig<SubmitSinglePdfSplitParams> {
        val localVariableBody = submitSinglePdfSplitParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/single/pdf/split",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
