/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.c2m.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.c2m.api.models.ErrorResponse
import com.c2m.api.models.StandardResponse
import com.c2m.api.models.SubmitMultiDocMergeParams
import com.c2m.api.models.SubmitMultiDocParams
import com.c2m.api.models.SubmitSingleDocParams

import com.squareup.moshi.Json

import com.c2m.api.infrastructure.ApiClient
import com.c2m.api.infrastructure.ApiResponse
import com.c2m.api.infrastructure.ClientException
import com.c2m.api.infrastructure.ClientError
import com.c2m.api.infrastructure.ServerException
import com.c2m.api.infrastructure.ServerError
import com.c2m.api.infrastructure.MultiValueMap
import com.c2m.api.infrastructure.PartConfig
import com.c2m.api.infrastructure.RequestConfig
import com.c2m.api.infrastructure.RequestMethod
import com.c2m.api.infrastructure.ResponseType
import com.c2m.api.infrastructure.Success
import com.c2m.api.infrastructure.toMultiValue

class MostCommonApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.example.com/v1")
        }
    }

    /**
     * POST /jobs/submit/multi/doc/merge
     * Submit a multi doc merge job
     * Submits a multi doc merge mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiDocMergeParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitMultiDocMergeParams(submitMultiDocMergeParams: SubmitMultiDocMergeParams) : StandardResponse {
        val localVarResponse = submitMultiDocMergeParamsWithHttpInfo(submitMultiDocMergeParams = submitMultiDocMergeParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/multi/doc/merge
     * Submit a multi doc merge job
     * Submits a multi doc merge mailing job. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiDocMergeParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitMultiDocMergeParamsWithHttpInfo(submitMultiDocMergeParams: SubmitMultiDocMergeParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitMultiDocMergeParamsRequestConfig(submitMultiDocMergeParams = submitMultiDocMergeParams)

        return request<SubmitMultiDocMergeParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitMultiDocMergeParams
     *
     * @param submitMultiDocMergeParams 
     * @return RequestConfig
     */
    fun submitMultiDocMergeParamsRequestConfig(submitMultiDocMergeParams: SubmitMultiDocMergeParams) : RequestConfig<SubmitMultiDocMergeParams> {
        val localVariableBody = submitMultiDocMergeParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/multi/doc/merge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /jobs/submit/multi/doc
     * Submit a multi doc job
     * Submits a mailing job with multiple documents to be sent to recipients. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiDocParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitMultiDocParams(submitMultiDocParams: SubmitMultiDocParams) : StandardResponse {
        val localVarResponse = submitMultiDocParamsWithHttpInfo(submitMultiDocParams = submitMultiDocParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/multi/doc
     * Submit a multi doc job
     * Submits a mailing job with multiple documents to be sent to recipients. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitMultiDocParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitMultiDocParamsWithHttpInfo(submitMultiDocParams: SubmitMultiDocParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitMultiDocParamsRequestConfig(submitMultiDocParams = submitMultiDocParams)

        return request<SubmitMultiDocParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitMultiDocParams
     *
     * @param submitMultiDocParams 
     * @return RequestConfig
     */
    fun submitMultiDocParamsRequestConfig(submitMultiDocParams: SubmitMultiDocParams) : RequestConfig<SubmitMultiDocParams> {
        val localVariableBody = submitMultiDocParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/multi/doc",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /jobs/submit/single/doc
     * Submit a single doc job
     * Submits a mailing job with a single document to be sent to one or more recipients. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSingleDocParams 
     * @return StandardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitSingleDocParams(submitSingleDocParams: SubmitSingleDocParams) : StandardResponse {
        val localVarResponse = submitSingleDocParamsWithHttpInfo(submitSingleDocParams = submitSingleDocParams)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StandardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /jobs/submit/single/doc
     * Submit a single doc job
     * Submits a mailing job with a single document to be sent to one or more recipients. The request body contains job parameters including document source, recipient address information, and payment details.
     * @param submitSingleDocParams 
     * @return ApiResponse<StandardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitSingleDocParamsWithHttpInfo(submitSingleDocParams: SubmitSingleDocParams) : ApiResponse<StandardResponse?> {
        val localVariableConfig = submitSingleDocParamsRequestConfig(submitSingleDocParams = submitSingleDocParams)

        return request<SubmitSingleDocParams, StandardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitSingleDocParams
     *
     * @param submitSingleDocParams 
     * @return RequestConfig
     */
    fun submitSingleDocParamsRequestConfig(submitSingleDocParams: SubmitSingleDocParams) : RequestConfig<SubmitSingleDocParams> {
        val localVariableBody = submitSingleDocParams
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/jobs/submit/single/doc",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
